[2018-02-04 16:51] maxcellent opened #1 "deep linking to latest version with frames"
From: Paul

Hi, are you still maintaining javadoc.io and is there some place where we can submit issues? (I didn't find a Github repo.)  Basically I would like to request a way to link to the latest version of a class with frames.  It seems that currently we have to choose between using "latest" without frames or specifying a version to get frames.

[2018-02-04 17:07] maxcellent commented on #1
Have you tried this:

For latest version just put latest in your url javadoc.io/page/{org}/{artifact}/latest/{page}
For example: javadoc.io/page/org.mockito/mockito-all/latest/org/mockito/stubbing/Answer.html

Feel free to re-open if you still have this issue.

[2018-02-04 17:24] maxcellent opened #2 "AccessDeniedAccess error for artifacts without javadoc disted"
eg,  http://javadoc.io/doc/se.llbit/chunky-core/1.4.4

maven central: http://central.maven.org/maven2/se/llbit/chunky-core/1.4.4/

[2018-02-04 17:27] maxcellent opened #3 "javadoc is downloading forever"
For example: http://javadoc.io/doc/org.seleniumhq.selenium/selenium-java/3.4.0

Maven central page: http://central.maven.org/maven2/org/seleniumhq/selenium/selenium-java/3.4.0/

[2018-02-04 17:27] maxcellent opened #4 "improve package text search"

[2018-02-04 17:36] maxcellent opened #5 "[BUG] bintry javadoc is still not loaded"
javadoc.io page: https://www.javadoc.io/doc/com.kaltura.playkit/playkit/3.3.2
bintray page:
https://bintray.com/kaltura/android/playkit/3.3.2
http://jcenter.bintray.com/com/kaltura/playkit/playkit/3.3.2/

[2018-02-04 19:05] pushbit commented on #1
That works well for displaying the latest version of the page, but it doesn't include the package and class list frames.  To get those it seems we have to use a URL like below, which must include the specific version.

https://static.javadoc.io/org.mockito/mockito-all/2.0.2-beta/index.html?org/mockito/stubbing/Answer.html

If there isn't currently a way to get the latest version with frames, can w

[2018-02-10 08:52] maxcellent opened #6 "AccessDeniedAccess error for artifacts with corrupted javadoc disted"
eg, http://javadoc.io/doc/org.seleniumhq.selenium/selenium-java/3.8.1

maven central: http://central.maven.org/maven2/org/seleniumhq/selenium/selenium-java/3.8.1/

[2018-02-10 08:58] maxcellent commented on #2
This is because an empty artifact is published to maven central. The backend service thought it has successfully uploaded to S3 but there is no entry file (index.html) available.

Because of the way AWS S3 works, 403 is returned instead of 404:

https://stackoverflow.com/questions/19037664/how-do-i-have-an-s3-bucket-return-404-instead-of-403-for-a-key-that-does-not-e

[2018-02-13 14:29] #6 closed, assigned to nobody

[2018-02-13 14:30] maxcellent commented on #6
fixed

[2018-02-13 14:30] maxcellent commented on #2
fixed

[2018-02-13 14:30] #2 closed, assigned to nobody

[2018-02-13 14:30] maxcellent commented on #3
fixed

[2018-02-13 14:30] #3 closed, assigned to nobody

[2018-02-13 14:31] maxcellent opened #7 "upgrade server libraries (mainly mongo)"

[2018-03-19 13:24] claudio-rosati opened #8 "Allow -SNAPSHOT in the version"
Recognise -SNAPSHOT in the version to address the Sonatype Nexus (Snapshots) repository instead of Maven Central.

[2018-03-31 01:11] garretwilson opened #9 "Faux Pas 0.6.0 not available"
Maven Central says Faux Pas 0.6.0 is available since January 2018:

https://search.maven.org/#artifactdetails%7Corg.zalando%7Cfaux-pas%7C0.6.0%7Cjar

But this gives me an access denied error:

https://static.javadoc.io/org.zalando/faux-pas/0.6.0/org/zalando/fauxpas/FauxPas.html

But version 0.5.0 works:

https://static.javadoc.io/org.zalando/faux-pas/0.5.0/org/zalando/fauxpas/FauxPas.html

[2018-04-09 17:27] cretz commented on #9
@garretwilson - I had a similar problem, so I went specifically to http://javadoc.io/doc/org.zalando/faux-pas/0.6.0 which forced the download and now your link works.

[2018-04-10 02:40] garretwilson commented on #9
Thanks for the good news. This still seems to indicate some sort of bug, though; I hope whatever caused it gets fixed.

[2018-04-10 02:40] #9 closed, assigned to nobody

[2018-04-10 17:34] brettwooldridge opened #10 "Scanning not running?"
It seems the scanner is either not running, or is running (possibly) weeks behind.  I have several projects that appear to be out of sync:

* [SansOrm](https://github.com/brettwooldridge/SansOrm)
* [Influx4j](https://github.com/brettwooldridge/influx4j)

[2018-04-11 13:14] maxcellent commented on #9
Thanks for the workaround. Will investigate and make it more automated.

[2018-04-19 04:27] typekpb opened #11 "open sourced javadoc.io"
First of all: thanks for the product that just works.

I'd love to see javadoc.io open sourced.

My motivation is:
* running on premises (in the internal infrastructure)

With following features:
* ability to proxy private maven repositories
* ability to proxy not only *-javadoc.jar files but also jar files with configurable classifiers (as versioning the  generated documentation sounds like the r

[2018-04-24 00:02] gt-tech opened #12 "Sync up issues with Maven central?"
Not sure if this is right place to report an issue, it is my understanding that javadoc.io automatically syncs up with Maven central. I have a opensource component available in Maven central whose first version was automatically synced up with javadoc.io but a few week ago i released the second version (2.0.0) however I do not see this new version's document in javadoc.io

<dependency>
    <groupI

[2018-04-25 03:32] brettwooldridge opened #13 "Use access as update trigger"
Given the use of a CDN, I'm not sure if this is possible, but it would be useful/interesting if access to a JavaDoc URL could act as a trigger to prioritize a check for new version for refresh.

For example, access to ``http://javadoc.io/doc/org.springframework/spring-core`` clearly expresses interest, by *someone*, in the JavaDoc for spring-core.  Therefore, a prioritized refresh check could be s

[2018-04-29 15:48] gt-tech commented on #12
Figured, I had to access the 2.0.0 version from browser to trigger the site to load newer version. I am not sure if its the right process for pulling in new version but it does the trick for me.

[2018-04-29 15:48] #12 closed, assigned to nobody

[2018-05-08 20:57] srbala commented on #10
Same PF4J packages https://github.com/pf4j/pf4j, system still points to `2.1.0`

https://search.maven.org/#artifactdetails%7Corg.pf4j%7Cpf4j%7C2.2.0%7Cjar
https://search.maven.org/remotecontent?filepath=org/pf4j/pf4j/2.2.0/pf4j-2.2.0-javadoc.jar

[2018-05-11 11:01] joschi opened #14 "Artifact versions with '+' character not supported"
First of all thank you so much for building and running an immensely useful service such as javadoc.io! 😄

We're using semantic versioning for our artifacts (at least we're trying to), which means that the version could contain a '+' character to separate build metadata from the rest of the version string (also see https://semver.org/#spec-item-10).

It looks like javadoc.io currently doesn't supp

[2018-05-26 14:34] maxcellent commented on #10
@brettwooldridge , @srbala

we have fixed an issue not able to index jars. Verified both both of them are fixed now.

[2018-05-26 14:34] #10 closed, assigned to nobody

[2018-05-26 14:40] maxcellent commented on #8
good point. A few changes need to be done:

1. set CDN cache to something like daily or hourly

1. provide ability to trigger a force refresh, otherwise from maven central point of view there is no new versions uploaded

[2018-05-26 14:43] maxcellent commented on #13
This is doable but also not easy. With the latest build the server should be able to pick up any new versions in 24 hours.

Feel free to reopen if there are more concerns to refresh even more frequently.

[2018-05-26 14:43] #13 closed, assigned to nobody

[2018-05-27 04:47] maxcellent commented on #12
FYI the scheduled job is also fixed to be able to pick up the new version. You shouldn't have to manually sync doc anymore. Please reopen this ticket if this happens again.

[2018-05-27 08:32] brettwooldridge commented on #13
Thanks!

[2018-06-07 08:01] sirocchj commented on #14
Likewise, using something like [sbt-dynver](https://github.com/dwijnand/sbt-dynver) for git commits+tags based versioning leads to the same issue, see https://javadoc.io/doc/io.laserdisc/laserdisc-core_2.12/0.1.0+3-fedc3f12

[2018-07-11 21:11] robeden commented on #11
I don't need the second feature, but would also be interested in an on-prem solution for internal repos.

[2018-08-03 07:57] KengoTODA commented on #11
Not sure it helps you or not, but here is a clone of javadoc.io: https://github.com/KengoTODA/javadocky
so you can fork it and deploy onto your on-premise.

[2018-08-03 10:18] typekpb commented on #11
Excelent, thanks for the reference

On Fri, Aug 3, 2018, 09:57 Kengo TODA <notifications@github.com> wrote:

[2018-09-11 18:11] mojo2012 opened #15 "CSS injection"
It would be super awesome if it would be possible to style the javadoc page, probably by letting the user provide a URL to a CSS file that gets injected to the page.

[2018-09-23 06:00] OleksiiChumak opened #16 "Can't find lib's javadoc"
First time released two days ago. As I understand lib's javadoc should have appeared here but still can't find it.
Artifact name - com.ochumak:mset

[2018-10-20 20:48] ljnelson opened #17 "JDK 11's javadoc will look for element-list first, then package-list; static.javadoc.io's responses break it"
JDK 11's `javadoc` appears to look first for an `element-list` file rooted at a URL supplied to it by the `-link` option.  It does this via `URL#openStream()`.  If that results in an `IOException`, then it will look for `package-list`.  But `static.javadoc.io`'s response doesn't trigger an `IOException`, so `javadoc` thinks that it has received a proper response.  As an arbitrary example, point yo

[2018-11-14 14:07] jyemin opened #18 "mongodb-driver-core javadoc missing"
For `org.mongodb:mongodb-driver-core:3.8.2` it says "No JavaDoc is released with artifact org.mongodb:mongodb-driver-core:3.8.2. Please try other versions." However, javadoc was released with that artifact: http://central.maven.org/maven2/org/mongodb/mongodb-driver-core/3.8.2/

[2018-12-06 14:15] kaifox commented on #5
Dear all,

as we see that this issue is open for quite some time and we are very interested in this feature, we were wondering if we could help somehow in fixing this? It might still be simpler to help you there than to go the painful way and sync everything with maven central ;-)

@andreacalia, @kaifox

[2019-01-12 21:00] #16 closed, assigned to nobody

[2019-01-12 21:00] OleksiiChumak commented on #16
Showed up

[2019-01-26 00:48] Vampire opened #19 "Keep protocol on forward"
Requesting `https://www.javadoc.io/page/com.discord4j/Discord4J/2.10.1/package-list` answers with a 303 and location header `http://static.javadoc.io/com.discord4j/Discord4J/2.10.1/package-list`.
The browser nevertheless requests this via HTTPS, I guess because of the `Strict-Transport-Security: max-age=15552000; includeSubDomains` header.
But other tools like Java and thus also the JavaDoc tool d

[2019-01-26 00:50] Vampire commented on #5
I don't think releasing to to Maven Central is painful, but the point is, that some people prefer to deploy only to Bintray.
It would really be nice if also Bintray releases could be supported.

[2019-02-03 19:57] oliviercailloux opened #20 "Allow default Java user agent"
As indicated [here](https://stackoverflow.com/q/33866209), the javadoc tool must be told to change its User Agent, for the default one seems to be forbidden access to javadoc.io. And as indicated in a comment, the workaround of changing the default user agent for the javadoc tool doesn’t seem to work any more (that part is obviously not your fault).

Please consider hosting the service with a prov

[2019-02-18 09:16] dekalo-stanislav commented on #5
Yep, would be helpful for me too.

[2019-03-15 11:10] Atry commented on #14
This bug also affect `latest` URLs.

For example, https://javadoc.io/page/com.thoughtworks.dsl/dsl_2.12/latest/com/thoughtworks/dsl/index.html redirects to https://static.javadoc.io/com.thoughtworks.dsl/dsl_2.12/1.0.0-RC22+36-6a0631d6/com/thoughtworks/dsl/index.html, which is a broken URL. The proper URL should be https://static.javadoc.io/com.thoughtworks.dsl/dsl_2.12/1.0.0-RC22%2B36-6a0631d6/com

[2019-03-30 10:56] maxcellent commented on #15
You can upload javadoc jars styled in whatever way. javadoc.io is just hosting the doc, no magic.

Feel free to re-open if my understanding is wrong.

[2019-03-30 10:56] #15 closed, assigned to nobody

[2019-03-30 13:47] maxcellent commented on #18
This doesn't look like a valid jar, as it only has a size of 261 bytes.

[code]

[2019-03-30 13:47] #18 closed, assigned to nobody

[2019-03-30 13:54] maxcellent commented on #14
fixed and deployed

[2019-03-30 13:54] #14 closed, assigned to maxcellent

[2019-03-30 14:14] maxcellent commented on #20
This is unfortunately a limitation of Cloudflare. It seems there is no way from Dashboard to whitelist a specific user agent

I am reaching out them to seek for a solution. If this cannot be workarounded, then will add SO hacks to homepage as a reference to other developers.

[2019-03-30 14:20] jyemin commented on #18
I don't know what happened there.  But 3.9.x and 3.10.x javadoc jars look fine.  Sorry for the false alarm.

[2019-03-30 14:33] maxcellent commented on #19
This should no longer be an issue as now all http requests are redirected to https.

[2019-03-30 14:33] #19 closed, assigned to maxcellent

[2019-03-30 14:54] Atry commented on #17
Isn't 403 an `IOException`?

[2019-03-30 22:05] Atry commented on #14
This bug is not resolved.

https://javadoc.io/page/com.thoughtworks.binding/latestevent_sjs0.6_2.11/latest/com/thoughtworks/binding/LatestEvent.html is still a broken URL

[2019-03-31 01:07] maxcellent commented on #14
ah, not aware there is another one. Fixed.

[2019-04-05 03:02] maxcellent commented on #20
This unfortunately cannot be easily workarounded with cloudflare.

I am trying to switch to AWS cloudfront.

[2019-04-05 03:52] maxcellent commented on #20
Unfortunately AWS cloudfront is not an option because they don't provide SSL solution. I have linked SO from homepage though.

[2019-04-05 04:01] maxcellent commented on #17
`microprofile-config-api-1.3-javadoc.jar` doesn't really contain `element-list`: http://central.maven.org/maven2/org/eclipse/microprofile/config/microprofile-config-api/1.3/microprofile-config-api-1.3-javadoc.jar

More likely this is duplicating https://github.com/maxcellent/javadoc.io/issues/20

feel free to re-open if my understanding is wrong.

[2019-04-05 04:01] #17 closed, assigned to nobody

[2019-04-05 04:08] ljnelson commented on #17
Nope; still present with a custom user agent.

I see from your response about a jar file not containing an `element-list` that perhaps you don't fully understand the issue.

The issue is that `javadoc` in JDK 11 will first request an `element-list` item, regardless of what package or project is in question.  If that receives a 404 response, then it "falls back" to `package-list`.  In static.javado

[2019-04-05 04:11] ljnelson commented on #17
Note that the behavior I describe (of `javadoc`) is different in each version starting with JDK 9.  To my knowledge, if I recall correctly, both JDK 9 and JDK 10's `javadoc` ask for `package-list` first.  But JDK 11 (and perhaps JDK 12; haven't checked) begins what I assume is a trend: ask for `element-list` first, and if a 404 is received, fall back to `package-list`.  The way that static.javadoc

[2019-04-05 21:35] Vampire commented on #17
I can second this, with Java 11 it is not workable, with Java 10 it works due to the described reason. Requesting `element-list` responds with 403 and an XML file and it does not work further on.

[2019-04-05 21:40] Vampire commented on #17
And it is not the user-agent topic, Java 10 and Java 11 default user agents are not (yet) blocked by Cloudflare.

[2019-04-05 21:40] Vampire commented on #19
Well, with this you broke it the other way around.
Because of this issue I used `http` links and now they redirect to `https` links.
The same problem applies, protocol change is not supported and thus tools cannot use it. :-(

[2019-04-08 13:06] maxcellent commented on #20
In fact, Cloudflare guys helped solving the issue.

[code]

[2019-04-08 13:06] #20 closed, assigned to nobody

[2019-04-10 16:00] dmitry-timofeev opened #21 "package-list cannot be fetched by javadoc 12"
Hi,

javadoc 12 cannot fetch "package-list" file, although it is avalable.

It seems that the javadoc tool uses "package-list/" path (which returns an error shown below). The "package-list" works perfectly with the current javadoc.io version:
* :heavy_check_mark: https://static.javadoc.io/com.google.guava/guava/27.1-jre/package-list
* :x: https://static.javadoc.io/com.google.guava/guava/27.1-jre/p

[2019-04-24 03:29] onacit commented on #17
I believe I'm facing this problem.

Here comes the result with the `-X` option.

[code]

[code]

I yet don't understand why javadoc tries to getting the resource of `/` not `/package-list`.

[2019-05-01 22:42] ljnelson commented on #17
Hi, @maxcellent; I don't have the ability to re-open this bug, but as I hope you can see it needs to be addressed.  Could you kindly re-open it?

[2019-05-02 01:43] Vampire commented on #17
@onacit as you use Java 8, you are **not** facing this issue, as it does not happen with Java 8 or 9 or 10.

[2019-05-09 22:21] ljnelson commented on #21
Somewhat related: #17 which is closed, but should not be.

[2019-05-09 22:41] ljnelson opened #22 "Certain javadoc invocations no longer able to link to javadoc.io pages"
Long time user of javadoc.io; thanks for your work.

Many projects of mine have built just fine with a combination of Maven's javadoc plugin and various user agent workarounds to make sure the plugin is able to access the `package-list` items from `static.javadoc.io`.  You can see the output of one of them here: https://microbean.github.io/microbean-kubernetes-controller/apidocs/index.html  Note t

[2019-05-16 20:06] ljnelson opened #23 "Certain javadocs no longer resolvable via static.javadoc.io"
Consider this:

https://javadoc.io/doc/jakarta.persistence/jakarta.persistence-api/2.2.2

When hit with a browser, you get javadocs in HTML format.  Fine.

Normally one may also hit this:

https://static.javadoc.io/jakarta.persistence./jakarta.persistence-api/2.2.2

…but for this project (and many others with what looks like JDK 9+ javadocs) this doesn't work.

Contrast that with this:

https://ja

[2019-05-23 23:35] ljnelson commented on #23
Another arbitrary example:

https://static.javadoc.io/org.jboss.weld.environment/weld-environment-common/3.1.1.Final gives a 403.

[2019-05-31 12:28] abhin4v commented on #20
I'm using maven to generate javadocs and I'm running into the same issue. This is my maven javadoc plugin config:

    <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-javadoc-plugin</artifactId>
        <version>3.1.0</version>
        <configuration>
            <links>
                <link>https://static.javadoc.io/org.asynchttpclient/async-http-client/2.9

[2019-05-31 13:13] abhin4v commented on #20
I have narrowed it down to the the [`followLinks`](https://github.com/apache/maven-javadoc-plugin/blob/maven-javadoc-plugin-3.1.0/src/main/java/org/apache/maven/plugins/javadoc/AbstractJavadocMojo.java#L6333) method in the maven-javadoc-plugin. The javadoc says:

     /**
     * Follows all of the given links, and returns their last redirect locations. Ordering is kept.
     * This is necessary be

[2019-06-24 05:37] Atry opened #24 "javadoc.io/page URL redirected to a wrong version"
I expect https://javadoc.io/page/com.thoughtworks.dsl/dsl_2.11/1.4.0/index.html should redirect to https://static.javadoc.io/com.thoughtworks.dsl/dsl_2.11/1.4.0/index.html. Unfortunately it currently redirects to https://static.javadoc.io/com.thoughtworks.dsl/dsl_2.11/1.4.0%2B6-4fbcea79/index.html .

[2019-06-29 05:59] maxcellent commented on #24
fixed and deployed

[2019-06-29 05:59] #24 closed, assigned to maxcellent

[2019-06-29 07:06] maxcellent commented on #23
with `static` domain you have to refer to the page directly: https://static.javadoc.io/org.jboss.weld.environment/weld-environment-common/3.1.1.Final/index.html

closing now. Feel free to reopen if you have more issues

[2019-06-29 07:06] #23 closed, assigned to nobody

[2019-06-29 07:15] maxcellent commented on #22
Not sure I understand the issue. Do you mean HasMetadata is not clickable from this link?
https://javadoc.io/doc/org.microbean/microbean-kubernetes-controller/0.2.2

[2019-06-29 07:23] maxcellent commented on #21
What do you expect to see under url: https://static.javadoc.io/com.google.guava/guava/27.1-jre/package-list/ ?

If you unzip this jar, it doesn't really contain a `package-list`  folder.

http://central.maven.org/maven2/com/google/guava/guava/27.1-jre/guava-27.1-jre-javadoc.jar

[2019-06-29 16:40] ljnelson commented on #21
I think the original author is trying to say that `javadoc` up through at least version 8 expects there to be a `package-list` resource available under either `.../package-list` or `.../package-list/`.  As simple end users of `javadoc` and your tool, we have no control over whether this is correct behavior or not, but if you continue to make `.../package-list/` be an error case, then it will impac

[2019-06-29 16:46] ljnelson commented on #22
Hmm, no; let me try again.

The link I provided, https://microbean.github.io/microbean-kubernetes-controller/apidocs/index.html, points to a set of documentation that I generated successfully quite some time ago.

If I were to try to generate this documentation again, using the same toolset and commands, any references within it to any classes from the `io.fabric8` package hierarchy would no longe

[2019-06-29 16:51] ljnelson commented on #23
OK, I will reopen this—well, no, I'll file a new bug.

You can obviously make your tool do whatever you want it to; I have no control over that.  I hope that I can eventually convince you that `javadoc` and the `maven-javadoc-plugin` all need the following resources to NOT give any kind of error (and I personally don't care whether it's `static.javadoc.io` or not):

* https://static.javadoc.io/som

[2019-06-30 18:19] ljnelson commented on #21
In case it ends up being relevant, here is a link to the source code of `javadoc` itself that shows how it looks for things:

https://github.com/openjdk/jdk/blob/d62e7f4d2471b4de6c220f20359efae45e9e00ea/src/jdk.javadoc/share/classes/jdk/javadoc/internal/doclets/toolkit/util/Extern.java#L304-L315

I'll also follow up with a link to the `maven-javadoc-plugin` which is (in the real world) often respo

[2019-07-01 08:46] dmitry-timofeev commented on #21
@maxcellent

Same as https://static.javadoc.io/com.google.guava/guava/27.1-jre/package-list (no trailing slash) — it appears to be a text file with a list of packages. javadoc 12 requests it _with_ and only with a trailing slash, and fails if this resource cannot be fetched.

[2019-07-22 18:42] NoelJB opened #25 "javadoc.io hijacked?"
Are you still maintaining javadoc.io?  As of at least today, it appears to have been hijacked:

"This domain was recently registered at Namecheap. Please check back later!"

;; ANSWER SECTION:
www.javadoc.io. 1722 IN A 198.54.117.199
www.javadoc.io. 1722 IN A 198.54.117.198
www.javadoc.io. 1722 IN A 198.54.117.197
www.javadoc.io. 1722 IN A 198.54.117.200

[2019-07-23 07:55] JanecekPetr commented on #25
For future reference: https://www.whois.com/whois/javadoc.io

## Domain Information
Domain: javadoc.io
Registrar: NameCheap, Inc
Registered On: 2014-07-07
Expires On: 2020-07-07
Updated On: 2019-07-22

[2019-07-23 15:47] maxcellent commented on #25
domain is expired.

I have renewed and will auto-renew in the future.

[2019-07-23 15:47] #25 closed, assigned to nobody

[2019-07-26 07:43] giltene opened #26 "4 day old project on maven central still not showing up"
org.heaputils:HeapUseWatcher has been on Maven Central for 4 days now:
https://search.maven.org/artifact/org.heaputils/HeapUseWatcher/1.0.1/jar

But javadoc.io does not show it yet...

[2019-07-27 15:10] maxcellent commented on #26
You will need to manually enter the link on your url for the first time. New versions will then be picked up automatcially.

https://javadoc.io/doc/org.heaputils/HeapUseWatcher/1.0.1

[2019-07-27 15:10] #26 closed, assigned to nobody

[2019-08-18 10:16] joel-costigliola opened #27 "Javadoc search doesn't work"
Hi,

I discovered javadoc.io a few months ago and was super happy to use it for [AssertJ Core](https://assertj.github.io/doc/).
AssertJ Core is targeted for java 8 but built with java 11, the javadoc built search capability is broken when navigating to the result: searching in the search textbox correctly shows the list of candidates corresponding to the text searched but when one selects a candid

[2019-08-19 17:10] joel-costigliola commented on #27
Likely related to https://stackoverflow.com/questions/52326318/maven-javadoc-search-redirects-to-undefined-url, I will give it a try when I can.

[2019-08-24 04:58] joel-costigliola commented on #27
Adding `<additionalJOption>--no-module-directories</additionalJOption>` solved the issue. see https://github.com/joel-costigliola/assertj-core/commit/9af09105e01168c70662e60fe0ed6ccd129bff98

[2019-09-05 16:26] bric3 opened #28 "Homepage refer to an old and deprecated mockito artefact"
As of today, the javadoc.io give url example using an old and deprecated mockito artefact.

Is it possible to replace those with **mockito-core** artefact, and using a modern version, respectively:

* https://javadoc.io/page/org.mockito/mockito-core/3.0.0/org/mockito/stubbing/Answer.html
* https://javadoc.io/page/org.mockito/mockito-core/latest/org/mockito/stubbing/Answer.html
* https://javadoc.io

[2019-09-16 10:53] maxcellent commented on #28
sure, I can make the change. Although this is really just an example. :)

[2019-09-16 13:41] bric3 commented on #28
@maxcellent I'd rather have an example with an up-to-date lib than an old one. Anyway that would be much appreciated, thank you in advance.

[2019-10-01 21:33] brilliantcontract opened #29 "Can't find API reference for technology.tabula:tabula"
This artefact presented on Central Maven Repository
https://search.maven.org/artifact/technology.tabula/tabula/1.0.3/jar

[2019-10-19 08:07] maxcellent commented on #29
This is working to me: https://javadoc.io/doc/technology.tabula/tabula/1.0.3

[2019-10-19 08:07] #29 closed, assigned to nobody

[2019-10-19 08:07] maxcellent commented on #28
this is no longer an issue with the new homepage

[2019-10-19 08:07] #28 closed, assigned to nobody

[2019-10-19 08:09] #11 closed, assigned to nobody

[2019-10-19 08:09] #7 closed, assigned to nobody

[2019-10-19 08:14] maxcellent commented on #5
hi, this has been a while but finally the bintray is supported now. Feel free to re-open if you encountered any issue.

[2019-10-19 08:16] maxcellent commented on #1
@pushbit with the latest UI it should be a lot easier to create a deep link to the latest version. Feel free to re-open if you still see the issue.

[2019-10-19 08:16] #1 closed, assigned to nobody

[2019-10-19 08:16] maxcellent commented on #4
won't fix

[2019-10-19 08:16] #4 closed, assigned to nobody

[2019-10-19 11:31] bric3 commented on #28
@maxcellent Cool, thanks for the feedback !
And nice new homepage !

[2019-10-19 13:01] khmarbaise opened #30 "Currently showing broken Badge"
Hi, currently using the following information:

[![javadoc.io](https://javadoc.io/badge/org.apache.maven.plugins/maven-install-plugin/javadoc.io.svg)](https://javadoc.io/doc/org.apache.maven.plugins/maven-install-plugin)

which results in: 404 badge not found
Can looked at:
https://github.com/apache/maven-install-plugin/tree/MINSTALL-162
![javadoc-issue](https://user-images.githubusercontent.com/4

[2019-10-19 15:05] maxcellent commented on #30
hi, thanks for reporting this. This is fixed now.

[2019-10-19 15:05] #30 closed, assigned to nobody

[2019-10-19 16:05] khmarbaise commented on #30
Hi,
thanks for the feedback. Works fine now. see ... Great.

![javadoc-links](https://user-images.githubusercontent.com/42484/67148041-0b99eb00-f29b-11e9-88a0-1159f7500ccb.png)

[2019-10-19 16:09] maxcellent commented on #30
no problem.

If you want, you could consider using following MD to always point to the
latest version

[![javadoc.io](
https://javadoc.io/badge2/org.apache.maven.plugins/maven-install-plugin/javadoc.io.svg)](https://javadoc.io/doc/org.apache.maven.plugins/maven-install-plugin
)

will be rendered as:

[image: image.png]

On Sun, Oct 20, 2019 at 12:05 AM Karl Heinz Marbaise <
notifications@github.co

[2019-10-19 17:16] maxcellent commented on #21
Instead of the one under static.javadoc.io domain, have you tried to use: https://javadoc.io/page/com.google.guava/guava/27.1-jre/package-list/ ?

So that the trailing slash can be properly handled.

I am closing this now. But feel free to reopen if this still doesn't work.

[2019-10-19 17:16] #21 closed, assigned to nobody

[2019-10-19 17:35] maxcellent commented on #22
I think I finally understand what do you mean now. Basically you are not able to generate link to external javadocs, and thus you suspect this is related to ```javadoc.io``` not able to serve ```package-list```. Correct?

Have you tried to use https://www.javadoc.io/page/io.fabric8/kubernetes-model/4.1.1/ ? This handles trialing slash automatically. As in, both https://www.javadoc.io/page/io.fabri

[2019-10-19 17:35] #22 closed, assigned to nobody

[2019-10-21 08:40] Vampire commented on #5
@maxcellent if you close an issue, we cannot reopen it.
Only if the author himself closes the issue he can also reopen it.
Can you please reopen it, the support does not work properly.
Issues I found so far:
- Going to https://www.javadoc.io/doc/net.dv8tion/JDA/ shows the latest version on Maven Central, but there are newer versions on JCenter that are also **partly** listed in the version drop-do

[2019-10-21 10:03] maxcellent commented on #5
@Vampire

1. I see. The way it works now is. If the jar doesn't exist in maven, it will fallback to JCenter. In your case, you have the library published to **both** maven and bintray. Any reason why they are out of sync? Wondering if it's a common use case.
2. It actually worked in the background. But I can not see an **index.html** after unzipped your -javadoc.jar. How do you generate jar?
3. sa

[2019-10-21 11:04] Vampire commented on #5
It is not my lib, it is a lib I depend upon and that I want to link my JavaDoc against using javadoc.io.

They released to Maven Central formerly and then switched to releasing to JCenter at some point. I don't know why, but it could well be the case for other libs too.

[2019-10-21 12:41] maxcellent commented on #5
So if you download their jar and unzip it, you will see there is no index.html, which means it won't work with current implementation.

Do you think you can reach out library owner to find out more? I highly doubt they are using `standard` approach to generate javadoc

[2019-10-21 13:35] Vampire commented on #5
Actually for 4.0.0_52 the javadoc jar seems to be correct

[2019-10-21 23:48] maxcellent commented on #5
ok, deployed an enhancement. Now it's able to resolve from multiple repos and merge versions.

[2019-10-21 23:48] #5 closed, assigned to nobody

[2019-10-23 10:08] andreacalia commented on #5
@maxcellent thanks !

[2019-10-23 18:18] dmitry-timofeev commented on #21
Thank you, such URL no longer causes a javadoc failure, at least on 13! The bad news is it still errors with no extra info:

[code]

That might be an issue in how javadoc utility handles redirects when requesting the resource, because it works for a module published on another web-site which does not redirect, but I haven't investigated further.

[2019-10-25 17:24] marco-schmidt opened #31 "Badge / version sort order broken?"
Hi!

Both the badge at https://github.com/marco-schmidt/am and the first link at https://javadoc.io/doc/com.github.marco-schmidt/am show version 0.0.3 although there were versions 0.0.4 to 0.0.6 and most recent 0.1.0, which I would expect in both contexts to be displayed. All versions are available in the version drop-down, but 0.0.3 is first and likely therefore the default for both badge and dro

[2019-10-26 08:51] maxcellent commented on #31
Thanks for reporting. It's a bug when onboarding Bintray.  Raised #32 to fix

It sounds overkill, but if you happen to release a new version it will fix your issue.

Otherwise you can use this markdown for now:

`[![javadoc.io](https://javadoc.io/badge2/com.github.marco-schmidt/am/0.1.0/javadoc.io.svg)](https://javadoc.io/doc/com.github.marco-schmidt/am/0.1.0)`

[2019-10-26 09:00] maxcellent opened #32 "keep artifact version in sync with metadata.xml"
For example, this is broken:

https://jcenter.bintray.com/com/github/marco-schmidt/am/maven-metadata.xml

#31

[2019-10-28 22:58] joel-costigliola commented on #27
Unfortunately there is still an issue with search as one can see in https://www.javadoc.io/doc/org.assertj/assertj-core/3.14.0/index.html where the filtering work in the textbox but navigating to one of the matching items does not.

Note that search work fine for locally generated javadoc.

This is related to https://github.com/joel-costigliola/assertj-core/issues/1657

[2019-10-29 10:44] maxcellent commented on #27
It looks like there is a bug in the generated `search.js`.  If we change line 322
from `parent.classFrame.location = pathtoroot + url;` to `parent.location.href = pathtoroot + url;` then it works.

This works when it's NOT running inside an iframe. As a workaround, you can use https://www.javadoc.io/static/org.assertj/assertj-core/3.14.0/index.html , trading off the top navbar.

[2019-10-29 12:16] maxcellent commented on #27
This is resolved now. Basically openjdk is making a strong assumption that the parent iframe is called `classFrame`.

https://github.com/openjdk/jdk/blob/cc621b681e279a3672f38f5d81943f35f57e6e55/src/jdk.javadoc/share/classes/jdk/javadoc/internal/doclets/formats/html/resources/search.js#L350

[2019-10-29 12:16] #27 closed, assigned to nobody

[2019-10-29 22:08] joel-costigliola commented on #27
Excellent thanks @maxcellent!

[2019-11-07 03:38] rohaniadnan commented on #31
Hi guys please do not upload anything that contained bugs and etc I hope that you are well understood that this is not supposed to be done. I reiterated again please do not upload anything that has bugs or so on. I hope u understand my deeper meaning. If you are not happy write back here. I am very happy to give you assistant.

[2019-11-09 07:22] maxcellent commented on #31
fixed

[2019-11-09 07:22] #31 closed, assigned to nobody

[2019-11-09 07:22] maxcellent commented on #32
done

[2019-11-09 07:22] #32 closed, assigned to nobody

[2020-01-06 15:45] ghost opened #33 "spring-cloud-starter javadoc missing"
https://javadoc.io/doc/org.springframework.cloud/spring-cloud-starter/2.2.1.RELEASE/index.html

[2020-01-07 11:39] maxcellent commented on #33
Indeed there is no `javadoc.jar` published: http://central.maven.org/maven2/org/springframework/cloud/spring-cloud-starter/2.2.1.RELEASE/

[2020-01-07 11:39] #33 closed, assigned to nobody

[2020-01-30 13:53] andresouza-hotmart opened #34 "No JavaDoc is released for artifact"
Hi, all.

I was looking for the docs for the artifact below. Since I couldn't find it, I followed the link to report and landed here.

`org.springframework.cloud:spring-cloud-starter-openfeign:1.4.7.RELEASE`

Do you know where this documentation is located?

Thank you and best regards!

-- Andre

[2020-01-31 06:36] maxcellent commented on #34
hi,

I can see the javadoc.jar is disted to maven central however the jar doesn't contain anything. The expectation is there is always an `index.html` packed in the jar. So the system is actually behaving as expected (given there is indeed nothing to show).

Close the ticket now. Let me know if this is not expected.

Max

https://repo1.maven.org/maven2/org/springframework/cloud/spring-cloud-starte

[2020-01-31 06:36] #34 closed, assigned to nobody

[2020-02-05 13:28] gastaldi opened #35 "Support different badge styles"
The badge URL (eg. https://javadoc.io/badge2/io.quarkus/quarkus-core/javadoc.svg) redirects to img.shields.io, which support different badge styles (by providing the `styles` query parameter).

It would be nice if the Javadoc badge supported that

[2020-02-06 15:34] dsyer opened #36 "spring-cloud-stream stopped appearing at version 3.x"
3.0.1 is clearly in Maven Central (https://repo1.maven.org/maven2/org/springframework/cloud/spring-cloud-stream/3.0.1.RELEASE/), but it never showed up in javadoc.io (https://www.javadoc.io/doc/org.springframework.cloud/spring-cloud-stream/3.0.1.RELEASE/index.html).

[2020-02-07 09:44] maxcellent commented on #36
This is because the `spring-cloud-stream-3.0.1.RELEASE-javadoc.jar` doesn't have an `index.html` under the root folder. Can you tell me how you are generating `javadoc.jar`?

[2020-02-10 18:17] olegz commented on #36
We're working on fixing it, will let you know

[2020-02-12 15:15] olegz commented on #36
SO we fixed the stream and I can confirm now that the  javadoc JAR file does indeed contains index.html. So it will be available when we cut 3.0.2.RELEASE.

[2020-02-13 04:38] maxcellent commented on #36
cool. I am closing the issue now. Feel free to reopen if it still doesn't work.

[2020-02-13 04:38] #36 closed, assigned to nobody

[2020-02-17 13:54] maxcellent commented on #35
deployed. you can append style param directly:

https://javadoc.io/badge2/io.quarkus/quarkus-core/javadoc.svg?style=for-the-badge

[2020-02-17 13:54] #35 closed, assigned to maxcellent

[2020-02-27 21:45] martinda opened #37 "antlr4 version 4.8 is missing"
Antlr4 version 4.8 is missing. Is this something users like me can remedy?
Maven: https://mvnrepository.com/artifact/org.antlr/antlr4-runtime/4.8

[2020-02-28 02:09] maxcellent commented on #37
this is working now after I click the `retry` button.

closing the ticket now, let me know if there are more issues: https://javadoc.io/doc/org.antlr/antlr4-runtime/4.8/index.html

[2020-02-28 02:09] #37 closed, assigned to nobody

[2020-03-14 22:39] dlukyanov opened #38 "support for `-groovydoc.jar` artifacts"
the groovy plugin for gradle builds by default `groovydoc.jar` artifact for documentation with absolutely same structure as javadoc.

could it be possible to add a support for it?

[2020-03-14 22:39] dlukyanov commented on #38
just an example
https://jcenter.bintray.com/acme/groovy/acmejson/20200120/

[2020-03-21 03:54] maxcellent commented on #38
what would be the structure of a groovydoc? I opened this jar file but there is nothing inside it? How do you expect javadoc.io to render this doc?

[2020-03-23 19:56] rnc commented on #8
Is this still on the todo list please?

[2020-03-24 04:30] maxcellent commented on #8
Giving it another thought, sadly I don't think it's a good use case for javadoc.io.

There are loads of optimizations (compression, long http expiry header, CDN policy) done with the assumption that the documents are immutable once released. Supporting SNAPSHOT version is just not quite fitting into the way it works.

I am closing the issue now.

[2020-03-24 04:30] #8 closed, assigned to nobody

[2020-03-24 09:08] rnc commented on #8
Yeah makes sense, thanks for letting me know!

[2020-03-24 13:30] dlukyanov commented on #38
right. here is another example.
the documentation is not perfect but at least it present...
https://jcenter.bintray.com/acme/groovy/acmehttp/20190413/

[2020-03-24 13:37] maxcellent commented on #38
thanks this makes more sense

[2020-03-26 10:09] codrblack opened #39 "Access top package-list of com.nimbusds oauth sdk"
https://javadoc.io/doc/com.nimbusds/oauth2-oidc-sdk/7.3/package-list
Access to the linked  package-list ist denied. Could you do anything here?

[2020-03-26 12:29] maxcellent commented on #39
this is because only ```element-list``` is published for this library.

https://javadoc.io/doc/com.nimbusds/oauth2-oidc-sdk/7.3/element-list

[2020-03-26 12:29] #39 closed, assigned to nobody

[2020-03-26 22:38] koczadly opened #40 "'Download' option doesn't work for alternative version formats (AccessDenied)"
Downloading the javadoc jar from javadoc.io (using the button at the top of the page) appears to fail with artifact versions containing the hyphen character (and possibly others).

**Example:** The download button at the top of [this page](https://www.javadoc.io/doc/uk.oczadly.karl/jnano/latest/overview-summary.html) links to [this download url](https://www.javadoc.io/jar/uk.oczadly.karl/jnano-2.0

[2020-03-27 02:47] maxcellent commented on #40
fixed and deployed

[2020-03-27 02:47] #40 closed, assigned to maxcellent

[2020-03-27 02:52] koczadly commented on #40
Awesome, thanks mate! Really love and appreciate the service you created, it's helped me out countless times.

[2020-03-27 04:18] maxcellent commented on #40
cheers :) happy to hear that!

[2020-03-28 17:50] dlukyanov opened #41 "the javadoc artifact not found on jcenter"
Getting error

for https://javadoc.io/doc/acme.groovy/acmetemplate/20200328

however the artifact is present on jcenter:

https://jcenter.bintray.com/acme/groovy/acmetemplate/20200328/

[2020-03-29 13:08] maxcellent commented on #41
It looks like [maven-metadata.xml](https://jcenter.bintray.com/acme/groovy/acmetemplate/maven-metadata.xml) doesn't contain any version like ```20200328```, which is not expected according to [apache doc](https://maven.apache.org/ref/3.6.2/maven-repository-metadata/)

I am not sure if this is project specific or down to groovy though?

[2020-03-30 03:39] dlukyanov commented on #41
strange.
i used javadoc this time as a base gradle task.
i'm not actually managing this file when publishing artifacts...
the project and this file is managed by bintray.com
going to check if i could update it with bintray api
in any case it's better to provide the detailed error message what exactly is missing..

truthfully, with maven/gradle/ivy you could download this dependency without maven-m

[2020-03-30 04:30] andyglick opened #42 "the service is reporting that artifacts which are accompanied by javadoc jars don't supply javadoc"
Looking at the central repository for spring-statemachine here https://search.maven.org/classic/#search%7Cga%7C1%7Cspring-statemachine

most of the jars have javadoc jars listed for the artifacts here are various messages from 3 different artifacts

even the javadoc jars that the service has reported being downloaded are not  being recognized by later attempts to access them This occurred on Firef

[2020-03-30 13:13] maxcellent commented on #42
[spring-statemachine-autoconfigure-2.2.0.RELEASE-javadoc.jar](https://search.maven.org/classic/remotecontent?filepath=org/springframework/statemachine/spring-statemachine-autoconfigure/2.2.0.RELEASE/spring-statemachine-autoconfigure-2.2.0.RELEASE-javadoc.jar) appears to be empty.

To check it by yourself, you can rename the jar to zip and extract the content. In order to get it working with ```jav

[2020-03-30 13:13] #42 closed, assigned to nobody

[2020-03-30 13:15] maxcellent commented on #41
It has always been the case for other libraries that ```maven-metadata.xml``` lists out all available versions.

That's why I am really curious how is this time different. Please keep me updated if you have any findings with bintray.

[2020-04-01 08:53] dlukyanov commented on #41
Got reply from jfrog:

With regards to your query on the problem with updating the maven-metadata.xml file, the version format you are using does not fit the maven comparator system and when the meta-data index calculation job runs in the background looks for versions that begin with 8 digits (most likely timestamps) and filters out. In your case, the version number is named “20180723” which resul

[2020-04-02 00:14] dlukyanov commented on #41
the problem that 8 digits in a row in version considered as a nightly build by bintray.
changed  version format and now everything works fine

[2020-04-02 00:17] #41 closed, assigned to nobody

[2020-04-02 02:20] maxcellent commented on #41
thanks for the follow ups.

I do agree the error message need to be improved though. (both javadoc.io and bintry!)

[2020-04-03 08:48] maxcellent commented on #41
fyi the error message has been improved: https://javadoc.io/doc/javax.mail/javax.mail-api/1.4.4/index.html

[2020-04-27 10:05] RoRoche opened #43 "[Kotlin, Dokka] No JavaDoc is released for artifact"
I get this message when trying to get Javadoc for my Kotlin libraries (javadoc with Dokka):

[code]

when touching the following URL:

[code]

The jar is properly distributed: https://repo1.maven.org/maven2/com/github/roroche/eo-rest/0.0.1/

But when extracting it, I see that the `index.html` file is not at the root directory, but in `eo-rest-0.0.1-javadoc/eo-rest` directory.

Is a fix possible?

[2020-04-27 14:49] maxcellent commented on #43
unfortunately this is always the assumption.

out of interest, how do you generate Kotlin javadoc?

[2020-04-27 19:59] RoRoche commented on #43
Actually, Dokka generates a different file structure. I have to configure it to use the `javadoc` type instead of `html`:

[code]

So now it works for my new release: https://javadoc.io/doc/com.github.roroche/eo-rest/latest/index.html

To answer your question, I use [the following plugin ](https://plugins.gradle.org/plugin/org.jetbrains.dokka)such as:

[code]

And in my deployment, I configure 2 t

[2020-04-27 19:59] #43 closed, assigned to nobody

[2020-04-28 01:53] maxcellent commented on #43
thanks for the detail @RoRoche

[2020-05-08 15:38] rxmicro opened #45 "Support all possible shields.io parameters"
The badge URL

`https://javadoc.io/badge2/io.rxmicro/rxmicro/javadoc.svg?logo=java`

 redirects to

`https://img.shields.io/badge/javadoc-0.3-brightgreen.svg`

, which support different query parameters: `logo`, `color`, `style`, etc

It would be nice if the Javadoc badge supported all parameters expect `label` and `message`.

It seems that `style` parameter already supported (https://github.com/m

[2020-06-22 06:33] MohabMohie opened #46 "In case my project is hosted on both maven central and bintray, only the latest version from maven central is hosted"
I use bintray to deploy early releases, and maven central repository to host stable ones.
Here's a snapshot from the latest releases
![image](https://user-images.githubusercontent.com/19201898/85255619-e7625f80-b462-11ea-8fd0-5b2c2fbd03e9.png)
javadoc.io will only detect the ones on maven
![image](https://user-images.githubusercontent.com/19201898/85255659-fcd78980-b462-11ea-94f4-230eff08f694.png)

[2020-06-26 22:45] ihostage opened #47 "Remove cached config4k (0.4.2)"
Can you remove the cached empty Javadoc artifact of `config4k-0.4.2` library? 🙏
It was badly released to JCenter (with empty javadoc artifact) and then removed. 😞
Now it published to Maven Central https://repo1.maven.org/maven2/io/github/config4k/config4k/0.4.2/

[2020-06-30 15:29] DeflatedPickle opened #48 "Support JitPack"
I use JitPack instead of Maven Central because of the verbosity Maven Central would bring to my `build.gradle`, and because Maven Central would add the need to hide secret keys.

It would be nice if artifacts on JitPack were supported. It works just like a Maven, that uses GitHub releases (or commits) to build the artifact.

[2020-07-05 03:08] maxcellent commented on #47
I can see this is not really empty: https://javadoc.io/doc/io.github.config4k/config4k/latest/index.html

Feel free to re-open if you still want to remove it.

[2020-07-05 03:08] #47 closed, assigned to nobody

[2020-07-05 03:28] maxcellent commented on #46
It doesn't seem this lib is released to bintray? https://jcenter.bintray.com/io/github/mohabmohie/SHAFT_ENGINE/maven-metadata.xml

Closing this for now. Feel free to reopen if you still have the issue after bintray is enabled.

[2020-07-05 03:28] #46 closed, assigned to maxcellent

[2020-07-05 04:15] maxcellent commented on #38
hi @dlukyanov ,

The development is largely done. But there are more issues coming out when I am testing it.

We use maven-metadata.xml to resolve all versions in maven. eg, https://jcenter.bintray.com/acme/groovy/acmehttp/maven-metadata.xml

However from the file listed above, only 20.04.27 is in the version list. Is this always the case for groovy libraries?

Max

[2020-07-05 04:21] maxcellent commented on #48
Is JitPack still actively maintained? https://jitpack.io/#edvin/tornadofx is not giving me any result

![image](https://user-images.githubusercontent.com/2378229/86525463-feb93800-beb9-11ea-8539-316b81e05568.png)

[2020-07-05 06:48] MohabMohie commented on #46
I think you're referring to this file, correct?
https://dl.bintray.com/mohabmohie/SHAFT/io/github/mohabmohie/SHAFT_ENGINE/:maven-metadata.xml

[2020-07-05 17:55] DeflatedPickle commented on #48
@maxcellent, I believe it is, but you can't just grab any repo, there are [setup steps](https://jitpack.io/docs/#publishing-on-jitpack) you have to do to get it on their maven. [Here's](https://jitpack.io/#DeflatedPickle/tosuto) one of my projects, it picks up the releases and commits as versions users can add in their builds.

But this is possibly pointless as it seems JitPack will also [host a `

[2020-07-05 23:05] maxcellent commented on #48
ok, it seems only working now.

sure, closing the issue now.

[2020-07-05 23:05] #48 closed, assigned to maxcellent

[2020-07-07 03:02] dlukyanov commented on #38
Hey Max,

No, just one version was published with correct versioning rules, but all other versions are there and nothing to do with them )

Regards,
  Dmitry

05 July 2020, 07:16:04, by "Max Zhu" <notifications@github.com>:

hi @dlukyanov ,

The development is largely done. But there are more issues coming out when I am testing it.

We use maven-metadata.xml to resolve all versions in maven. eg, h

[2020-07-15 18:24] marcelmay opened #49 "Latest version not always working?"
javadoc.io lists older version as latest, although a newer version is available (for months):

- javadoc.io reports 1.5.9 as latest version, although I would expect 1.5.14 as latest:
  https://javadoc.io/doc/com.icegreen/greenmail

- javadoc.io does contain higher versions (but not listed as latest):
  https://javadoc.io/doc/com.icegreen/greenmail/1.5.14/index.html

- Maven central contains 1.5.14

[2020-07-16 01:41] maxcellent opened #50 "redirect javadoc to other destination"
some library owner prefer to host javadoc in their own location. It will be good if javadoc.io can redirect the traffic which should help with their SEO as well.

[2020-07-19 21:55] Marcono1234 commented on #49
It appears the underlying issue might be that the ordering of versions is based on codepoints instead of the numeric values.
E.g. for https://www.javadoc.io/doc/com.fasterxml.jackson.core/jackson-databind it opens 2.9.9.3 even though there is 2.9.10 and 2.10.
So the ordering likely considers **1**0 < 9.

[2020-07-19 22:34] Marcono1234 opened #51 "Redundant scrollbar when using Firefox"
When using Firefox (version 78.0.2 (64-Bit)) there is a redundant scrollbar for the complete page:
![Example screenshot](https://user-images.githubusercontent.com/11685886/87886810-2a8efe80-ca20-11ea-9354-7b97a852c318.png)

This screenshot was taken for [jackson-databind](https://www.javadoc.io/doc/com.fasterxml.jackson.core/jackson-databind/latest/com/fasterxml/jackson/databind/introspect/Annotat

[2020-07-19 22:46] Marcono1234 opened #52 "Browser history navigation not working correctly"
### Description
It appears that the browser history navigation (backward and forward arrows next to address bar) do not work correctly for:
- Firefox 78.0.2 (64-Bit)
- Microsoft Chromium-based Edge 84.0.522.40 (Official build) (64-bit)

The URL in the address bar changes but the page is not updated.

### Reproduction steps
1. Open for example [jackson-databind](https://www.javadoc.io/doc/com.faste

[2020-07-23 23:49] MihaiBojin opened #53 "Javadoc failing to resolve"
Hi, I am trying to add my project but it's failing to find the javadoc.

The jar is however released on Maven Central: https://repo1.maven.org/maven2/com/mihaibojin/props/props-core/0.0.3/props-core-0.0.3-javadoc.jar

Can you take a look, please?
Thank you!

[2020-07-24 00:33] maxcellent commented on #53
hi, not sure how you generated javadoc. But I don't see an `index.html` file under the root directory of the javadoc folder.

[2020-07-24 02:27] maxcellent commented on #51
fixed

[2020-07-24 02:27] #51 closed, assigned to nobody

[2020-07-24 02:27] maxcellent commented on #52
fixed

[2020-07-24 02:27] #52 closed, assigned to nobody

[2020-07-24 02:28] maxcellent commented on #53
closing it for now as this is considered an expected behavior. Feel free to reopen if you have more findings

[2020-07-24 02:28] #53 closed, assigned to nobody

[2020-07-26 07:38] maxcellent commented on #49
fiexed. FYI javadoc.io will honor `metadata.xml` instead of  making a guess. eg,  https://repo1.maven.org/maven2/com/fasterxml/jackson/core/jackson-core/maven-metadata.xml

[2020-07-30 00:32] kvnxiao commented on #49
@maxcellent How come the metadata.xml is not working for https://www.javadoc.io/doc/com.discord4j/discord4j-core/latest/index.html, the metadata.xml is https://repo1.maven.org/maven2/com/discord4j/discord4j-core/maven-metadata.xml

[2020-07-30 02:42] maxcellent commented on #49
This is because this library is published to both JCenter and maven central with different versions:

- https://repo1.maven.org/maven2/com/discord4j/discord4j-core/maven-metadata.xml
- https://jcenter.bintray.com/com/discord4j/discord4j-core/maven-metadata.xml

Let me think about it...

[2020-07-30 05:07] maxcellent commented on #49
fixed

[2020-07-30 05:07] #49 closed, assigned to maxcellent

[2020-07-30 08:40] marcelmay commented on #49
@maxcellent , the links show the previous version 1.5.13 now but I would expect latest version 1.5.14:

* Badge link: https://javadoc.io/badge2/com.icegreen/greenmail/javadoc.svg
* Javadoc link: https://javadoc.io/doc/com.icegreen/greenmail/latest/index.html

The latest version is available on javadoc.io:
https://javadoc.io/doc/com.icegreen/greenmail/1.5.14/index.html

But when selecting the versi

[2020-07-30 09:54] maxcellent commented on #49
@marcelmay any reason the latest version is only published to maven?

Additionally it looks like 1.5.14 was published on July 4th. However, 1.5.13 was published on July 15th?

- https://repo1.maven.org/maven2/com/icegreen/greenmail/maven-metadata.xml
- https://jcenter.bintray.com/com/icegreen/greenmail/maven-metadata.xml

[2020-07-30 11:22] marcelmay commented on #49
GreenMail only publishes to Maven Central (repo1.maven.org), where 1.5.13 was published in April and 1.5.14 in July:
https://repo1.maven.org/maven2/com/icegreen/greenmail/

JCenter syncs from Maven Center, I guess. I 'claimed' the artifacts just recently, and JCenter seems not in sync with Maven Central.

Is there a way to tell javadoc.io the primary repo location for projects?
I would assume Mave

[2020-07-30 13:38] maxcellent commented on #49
I did some more magic and I think it should be covering your case now!

[2020-07-30 17:53] marcelmay commented on #49
Works now, thanks a million!

[2020-08-17 11:13] Marcono1234 opened #54 "Make "latest" a separate version"
It appears when you select the currently latest version, e.g. for [Gson](https://javadoc.io/doc/com.google.code.gson/gson/latest/com.google.gson/module-summary.html) "2.8.6", it automatically changes the URL to <code>.../<b>latest</b>/...</code>. However, in some cases this is undesired, e.g. when you want to link to that exact version.

Would it be possible to add a separate "latest" version entr

[2020-08-18 06:59] maxcellent commented on #54
This is expected. In this case, `/latest/` and `/2.8.6/` are effectively the same page. Thus sharing the same URL.

As a workaround, would manually updating the URL help? For example, in this case you can manually update to 2.8.6, which will always link to 2.8.6.

https://javadoc.io/doc/com.google.code.gson/gson/2.8.6/com.google.gson/module-summary.html

I am closing the issue for now. Feel free t

[2020-08-18 06:59] #54 closed, assigned to nobody

[2020-08-19 16:45] Marcono1234 commented on #54
Yes updating the URL manually after copying it works, thanks. However, it is slightly cumbersome which is why I wrote this feature request. It would be easier if they were separate versions so you could browse the 2.8.6 documentation and copy URLs and links without having to change the version in them first (which can be error-prone). Updating my initial feature request, maybe the "latest" dropdow

[2020-08-22 10:18] LikeTheSalad commented on #45
It would be very useful for me if the param `label` gets supported as well!

Thanks.

[2020-08-25 06:58] shadycuz commented on #38
@maxcellent I would also love to host my groovy docs on javadoc.io =)

[2020-08-26 21:19] cmacfarl opened #55 "Support for bintray repositories whose packages haven't been published to jcenter."
Support for being able to reference a bintray repository that is not linked to jcenter, but which contains publicly published packages would be nice.

e.g.  https://dl.bintray.com/[someuser]/maven/[somerepository]

Where [somerepository] is public, but for whatever reason is not on jcenter.

[2020-09-08 10:24] ffays opened #56 "package-list must always be provided as-is in text/plain"
It looks like that the "package-list" file at the root of the javadoc is sometimes embedded in a generated HTML file and sometimes provided as-is.

Could you please ensure that the file named "package-list" is always returned as-is in text/plain?

(Possibly could you check this is always the case for "element-info" file as well!?)

Two failing examples:
https://javadoc.io/doc/com.microsoft.ews-jav

[2020-09-10 12:25] magnusja opened #57 "libaums docs not working"
Hey,

any idea why this is not working?
https://www.javadoc.io/doc/me.jahnen/libaums/0.7.7/index.html

artifacts are here https://bintray.com/beta/#/magnusja/maven/libaums/0.7.7?tab=files

[2020-09-13 22:20] NthPortal commented on #45
you can change the label by changing the `javadoc.svg` at the end to `<label>.svg`. See for example: ![label](https://javadoc.io/badge2/io.rxmicro/rxmicro/label.svg?logo=java)

[2020-09-18 22:40] nedtwigg opened #58 "Requesting subpath of javadoc for the first time does not trigger download"
First off, thanks so much for `javadoc.io`, love it.  I put links to it in our documentation, for example: `https://javadoc.io/static/com.diffplug.spotless/spotless-plugin-gradle/5.5.2/com/diffplug/gradle/spotless/FormatExtension.html#bumpThisNumberIfACustomStepChanges-int-`

The version number in the URL automatically updates when we publish a new version.  But if we follow the link, we get an

[

[2020-10-05 22:43] yimengael opened #59 "Json PrettyPrint does not work"
Hi Camel Support,
I have been trying to leverage the PrettyPrint feature to display the result of my API that is using Apache Camel. Here is the context. I have this route in my code
[code]
When I'm using Postman to test my API, the display is in pretty mode even though it is not set to true, like so
[code]

Now when I'm using the following code to set the PrettyPrint to false, I'm still getting t

[2020-10-06 20:47] liv123 opened #60 "javadoc.io CDAP link to versions not working"
Where broken link appears: https://javadoc.io/doc/io.cdap.cdap

The first artifact on this page is "cdap". When I click on the latest version link (or any other cdap version link at this time), I get the following error:

Solution: Can this link get hooked up properly or removed until it works? The info can still be accessed if I download the source and build my own copy of the JavaDocs.

[2020-10-18 05:33] maxcellent commented on #57
It looks like the `javadoc.jar` was uploaded twice and javadoc.io is only the first one.

I have reindexed the jar manually.

[2020-10-18 05:33] #57 closed, assigned to nobody

[2020-10-18 05:36] maxcellent commented on #59
Hi, this is not the camel support group.

[2020-10-18 05:36] #59 closed, assigned to nobody

[2020-10-18 05:44] maxcellent commented on #56
When a version is specified, the response works.

[code]

What is your use case that content type matters?  As far as I can tell, the only place we need `package-list` is when we are generating with a javadoc reference. This file isn't really for human to read.

[2020-10-18 06:04] maxcellent commented on #58
hi, this should work.

[code]

Note: it's `javadoc.io/doc` instead of `javadoc.io/doc/static`

[2020-10-18 06:04] #58 closed, assigned to nobody

[2020-10-18 06:04] maxcellent commented on #55
can you give me an example for me to test?

[2020-10-18 06:50] maxcellent commented on #38
I guess it's my bad that this issue has been outstanding for so long. But when I check the groovy dist I do see a proper `javadoc.jar` file is published. For example,

```https://repo1.maven.org/maven2/org/grails/grails-core/4.0.1/```

@dlukyanov your example is no longer working because it's overwritten by a new version written in java: `20.04.27`. Do you have more examples? @shadycuz you are als

[2020-10-18 06:58] maxcellent commented on #45
deployed. example:

https://javadoc.io/badge2/io.quarkus/quarkus-core/javadoc.svg?style=for-the-badge&color=yellow

[2020-10-18 06:58] #45 closed, assigned to maxcellent

[2020-10-18 07:01] maxcellent commented on #60
As the page indicates, the library version 6.2.2 is released without a javadoc.

Is it causing some issue on your end?

[2020-10-19 12:12] shadycuz commented on #38
@maxcellent Yes it works for javadoc.jar but its not straightforward to get your build tool to produce javadoc if its configured for groovy.

If the format of the doc jars are the same, I think the ask here is that the groovydoc.jar gets treated like a javadoc.jar. I have mine setup and working to product the javadoc.jar but it might help others in the future.

[2020-10-19 14:43] maxcellent commented on #38
@shadycuz I have finished dev work locally. All I need is something to test. Do you have some sample groovy lib where only groovydoc.jar is published?

[2020-10-19 14:51] shadycuz commented on #38
@maxcellent Do you only need me to send you the groovydoc.jar file? I can probably generate one real quick but my current library is not set to publish a groovydoc.jar to maven central, only the javadoc.jar.

[2020-10-19 15:02] maxcellent commented on #38
ideally some published groovy library which doesn't generate `javadoc.jar` at all

[2020-10-19 15:20] shadycuz commented on #38
I don't know when I will get a chance to do it. Possibly this weekend?

[2020-10-22 03:22] cmacfarl commented on #55
Certainly.

https://dl.bintray.com/first-tech-challenge/ftcsdk/

That repository is not on jcenter, but there's javadoc in it's packages.  I think the idea would be that you allow people to add repos that are hosted on bintray itself to the list of repos that you scrape for packages.

[2020-10-22 03:36] maxcellent commented on #60
I am closing this issue for now. Let me know if it causes more issues

[2020-10-22 03:36] #60 closed, assigned to nobody

[2020-10-22 03:37] maxcellent commented on #56
closing the ticket for now. Let me know if it's causing more issues.

[2020-10-22 03:37] #56 closed, assigned to nobody

[2020-10-22 03:56] maxcellent commented on #55
hmmm this doesn't look like a repo with standard layout. How is this published? where is the `metadata.xml` file? where is `pom.xml`? javadoc.io relies on these files to organize artifacts

[2020-10-22 16:29] cmacfarl commented on #55
The jars at the root of that repository shouldn't be there.

However there are metadata and pom files associated with the packages themselves.

https://dl.bintray.com/first-tech-challenge/ftcsdk/org/firstinspires/ftc/Hardware/

Is that what you are looking for?

[2020-10-23 02:51] maxcellent commented on #55
Thanks this is a good example. I think I understand the problem now.

It looks like the root of the repo is: https://dl.bintray.com/first-tech-challenge/ftcsdk/, correct?

One more question, if I am a library user, how can I import the library from maven?

[2020-10-23 03:20] cmacfarl commented on #55
Correct the root is https://dl.bintray.com/first-tech-challenge/ftcsdk/ but the actual packages live downstream in org/firstinspires/ftc.

Users use the packages by adding the following gradle to their builds.

[code]

[2020-10-23 05:37] maxcellent commented on #55
I have manually added this repo. If there are more requests like this then will consider making this a self service.

https://javadoc.io/doc/org.firstinspires.ftc/RobotCore

[2020-10-23 05:37] #55 closed, assigned to nobody

[2020-10-25 17:58] kawsar158 commented on #50
# @
Duplicate of #

[2020-10-27 08:59] shadycuz commented on #38
@dlukyanov

Can you provide your build.gradle?

I can no longer get my project to produce a groovydoc.jar.

Running `gradle clean groovyDoc` only produces the html and not the jar file.

[2020-10-28 23:24] zubri opened #61 "No JavaDoc is released for artifact com.prowidesoftware:pw-iso20022:SRU2020-9.1.3"
Hi,

Thanks for the javadoc.io site.

I'm getting the mentioned error when trying to load the javadoc for this package:
https://www.javadoc.io/doc/com.prowidesoftware/pw-iso20022/SRU2020-9.1.3/index.html

If I check the package the javadoc is properly submitted and listed at Maven Central.
https://repo1.maven.org/maven2/com/prowidesoftware/pw-iso20022/SRU2020-9.1.3/

PD: I'm one of the authors of

[2020-10-29 03:10] maxcellent commented on #61
I unzipped jar file but there is no `index.html` under the jar file.

It should just work once the jar file is generated with index.html under root folder

https://repo1.maven.org/maven2/com/prowidesoftware/pw-iso20022/SRU2020-9.1.3/pw-iso20022-SRU2020-9.1.3-javadoc.jar

[2020-10-29 03:10] #61 closed, assigned to nobody

[2020-10-29 12:56] zubri commented on #61
OK thanks for your prompt response.

[2020-11-26 13:55] keilw opened #62 "Possible bug retrieving JavaDoc JARs"
There could be a bug retrieving JavaDoc JARs, because the javadoc-jar versions 2.1
https://repo1.maven.org/maven2/javax/measure/unit-api/2.1/
and 2.11
https://repo1.maven.org/maven2/javax/measure/unit-api/2.1.1/
of https://javadoc.io/doc/javax.measure/unit-api, because it constantly falls back to the outdated 2.0-PRD although the list of versions does show 2.0, 2.1 and 2.1.1 but it won't allow to

[2020-12-02 14:35] keilw commented on #62
It worked for the RI https://www.javadoc.io/doc/tech.units/indriya/latest/overview-summary.html of that JSR but still fails for the API which does not show any version beyond 2.0-PRD.

[2020-12-03 02:10] maxcellent commented on #62
This is because the published jar is empty. You can check by yourself. Simply download and unzip https://repo1.maven.org/maven2/javax/measure/unit-api/2.1/unit-api-2.1-javadoc.jar

Because javadoc.io is not able to locate index.html it will automatically fallback to a previous valid version.

This is an expected behavior. I am closing it for now. Feel free to reopen if you have more concerns.

[2020-12-03 02:10] #62 closed, assigned to nobody

[2020-12-03 09:50] keilw commented on #62
That's quite bizarre because MavenCentral had no isssues with the file. Thanks for pointing it out, we have our own JavaDoc URL https://unitsofmeasurement.github.io/unit-api/site/apidocs/index.html, but we may publish a new version of the API when a need arises.

[2020-12-03 14:26] maxcellent commented on #62
Maven central should really verify the `javadoc.jar` but unfortunately they don't...

[2020-12-03 14:36] keilw commented on #62
It really looks like a bug in the maven-javadoc plugin probably from a particular Java version. Locally I can override that by forcing the `JAVA_HOME` to use Java 8, then it works. In the "snapshot" repo I can see, that it stopped working in the container around July 2020, I can't say for sure, but either the plugin version or a different JVM cause it. Will create an issue in the API project to fi

[2020-12-07 17:07] mcandre opened #63 "Support for clojars"
Hi!

Many JVM projects, particularly Clojure projects, host their artifacts at Clojars. Could javadocs.io add support for this index?

https://clojars.org/

[2020-12-07 17:13] mcandre opened #64 "Support for mymavenrepo.com"
Curious how mymayvenrepo.com's index could work with javadoc.io, for public packages. As an alternative to Maven Central and Bintray.

https://mymavenrepo.com/#features

[2020-12-10 09:02] dominic-messenger-hmrc opened #65 "No Javadoc for io.cdap.cdap/cdap/6.2.3"
Unable to source Javadoc for any io.cdap.cdap/cdap versions (6.1.3 and 6.2.3)
https://javadoc.io/doc/io.cdap.cdap/cdap/6.2.3/index.html
https://javadoc.io/doc/io.cdap.cdap/cdap/6.1.3/index.html

Can access Javadoc for API, clients and others

[2021-01-15 11:31] sjain55 opened #66 "doc related to json schema validator was not found."
I was going through restAssured documentation (https://github.com/rest-assured/rest-assured/wiki/Usage#json-schema-validation) and found a link regarding json schema validation settings, which  seems to be broken.

link : http://static.javadoc.io/io.restassured/json-schema-validator/4.3.3/io/restassured/module/jsv/JsonSchemaValidatorSettings.html

[2021-01-24 02:51] maxcellent commented on #66
I think there is a typo in the url. The following link works to me:

http://static.javadoc.io/io.rest-assured/json-schema-validator/4.3.3/io/restassured/module/jsv/JsonSchemaValidatorSettings.html

[2021-01-24 02:51] #66 closed, assigned to nobody

[2021-01-24 02:54] maxcellent commented on #65
I don't see javadoc published with this library to maven central.

https://repo1.maven.org/maven2/io/cdap/cdap/cdap/6.2.3/

Maybe you want to contact library owner if you expect one?

[2021-01-24 02:54] #65 closed, assigned to nobody

[2021-02-02 01:53] hakanai opened #67 "Wrong link generated for cross-module dependency"
Just discovered this site today, really nice. :)

I found some broken links though.

Example here:

https://javadoc.io/doc/com.google.errorprone/error_prone_core/latest/com/google/errorprone/bugpatterns/UnnecessaryMethodInvocationMatcher.html

The "implements BugChecker.MethodInvocationTreeMatcher" hyperlink points to here:

http://nexus.sonatype.org/oss-repository-hosting.html/error_prone_parent/

[2021-02-02 22:58] dlbock opened #68 "Javadocs for v 5.7.0 onwards does not exist"
The last version containing Javadocs is 5.6.1: https://javadoc.io/doc/com.diffplug.spotless/spotless-plugin-gradle/5.6.1/index.html

The links for versions 5.7.0 onwards show the following message:
![screencapture-javadoc-io-doc-com-diffplug-spotless-spotless-plugin-gradle-5-7-0-index-html-2021-02-02-16_58_12](https://user-images.githubusercontent.com/149529/106673844-e4425c80-6577-11eb-8d59-d63c6

[2021-02-02 23:00] dlbock commented on #68
Looks like I was linked to the wrong place to create an issue. Apologies!

[2021-02-02 23:00] #68 closed, assigned to nobody

[2021-03-01 20:44] cmacfarl commented on #55
Thank you @maxcellent.

Since bintray announced its shutdown, we've migrated all of our artifacts over to maven central.   Which means we can now use use javadoc.io in the manner it was intended to be used, however the RobotCore artifact appears to point to bintray, and hence won't update to our latest v6.2.1.   Is it possible to undo the manual addition so it can start picking up the artifacts in

[2021-03-10 14:59] lbruun opened #70 "Documentation: badge syntax -- don't assume Markdown"
It doesn't say but the syntax examples on [www.javadoc.io](https://www.javadoc.io/) are **assuming Markdown**.

This should be noted on that site, or better yet, the site should display the syntax for various GitHub README markup languages, Markdown and AsciiDoc at a minimum. Perhaps just me but I see more and more projects using AsciiDoc for their README.
GitHub supports [many markup formats](htt

[2021-03-16 16:10] olivier65 commented on #43
So, when are you going to implement the suggestion? As of today there is still no documentation for mockito-android. That's quite a deterrent...

[2021-03-23 07:29] maxcellent commented on #67
hmmm I actually downloaded https://repo1.maven.org/maven2/com/google/errorprone/error_prone_check_api/2.5.1/error_prone_check_api-2.5.1-javadoc.jar  but cannot find `MethodInvocationTreeMatcher`.

You would need to contact library owner to move the class to api module.

Closing the ticket now as this is considered expected behavior.

[2021-03-23 07:29] #67 closed, assigned to nobody

[2021-03-23 07:35] maxcellent commented on #43
hi @olivier65 , have you tried @RoRoche 's solution?

For mockito-android is what you mean? https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html

[2021-03-23 08:27] maxcellent commented on #38
closing this for now.

Feel free to re-open when you have more examples to test with

[2021-03-23 08:27] #38 closed, assigned to maxcellent

[2021-03-28 10:31] micycle1 opened #71 "Support Jitpack.io"
(From https://jitpack.io/docs/#javadoc-publishing):

- For a single module project, if it produces a javadoc.jar then you can browse the javadoc files directly at:

  - https://jitpack.io/com/github/USER/REPO/VERSION/javadoc/ or
  - https://jitpack.io/com/github/USER/REPO/latest/javadoc/ (latest release tag)

- For a multi module project, the artifacts are published under com.github.USER.REPO:MODU

[2021-04-02 10:14] NicolasMassart opened #72 "Site is down"
Javadoc.io is down and Cloudflare returns a 521 error.
<img width="400" alt="Screenshot 2021-04-02 at 12 13 54" src="https://user-images.githubusercontent.com/4677568/113407124-022c1200-93ad-11eb-9a3b-fd5593e08add.png">

[2021-04-02 14:13] maxcellent commented on #72
not expected and never happened before. I have restarted the service. Will investigate and keep this ticket up to date.

[2021-04-02 16:17] maxcellent commented on #72
There was a slowness in AWS which is causing thousands of connections reading data at the same time.

Because of the way Java SSL works, it seems each connection creates their own SSLEngine, which takes about 200KB heap space each.

I have capped number of connections for now. Will keep an eye in the next few days.

[2021-04-05 06:16] trustin opened #73 "Javadoc.io out of service?"
It seems like the service has been down for several days. What's the plan for this service? Is it shutting down or just taking time to recover?

[2021-04-05 06:21] maxcellent commented on #73
https://github.com/maxcellent/javadoc.io/issues/72

[2021-04-05 06:22] trustin commented on #73
Ahh, thanks!

[2021-04-05 06:22] #73 closed, assigned to nobody

[2021-04-05 06:23] maxcellent commented on #73
by the way, it could be netty related :) I will further investigate and let you know

[2021-04-05 06:24] trustin commented on #72
How about re-opening this ticket or creating an announcement/status update issue so people know this is ongoing?

[2021-04-05 08:38] trustin commented on #72
Last but not least, I'd like to appreciate your contribution to the whole Java community by hosting and maintaining javadoc.io. It's indispensable tool for today's open source Java developers! You might want to add a list of contributions and donations you're looking for to the front page, so people can consider helping you in some way. :bulb:

[2021-04-05 09:51] maxcellent commented on #72
The root cause is a daily batch job which is trying to load 39.5m rows into memory. It's not implemented in scalable way on day one because at that time it's only a few hundred rows returned by the same query.

This is now fixed, tested and deployed.

I have also setup an uptime alert to make sure anything similar will be captured asap.

[2021-04-05 09:51] #72 closed, assigned to nobody

[2021-04-05 10:11] maxcellent commented on #72
Thanks Trustin, as a heavy Netty user myself, your encouragement means a lot to me.

Yes I've been thinking about it seriously. The only concern of receiving money is the compliance department of the company I am working for.

It's still good to know that ppl are interested to financially support the project. I will be more determined to go through the process!

[2021-04-05 10:12] trustin commented on #72
Thank you for fixing this problem, @maxcellent!

[2021-04-13 19:00] guillermocalvo opened #74 "Problem with `/latest/package-list` and `/latest/element-list`"
I'm trying to [link some external classes referenced by my code](https://docs.oracle.com/en/java/javase/15/javadoc/javadoc-command.html#GUID-3894CFD5-88D5-407F-B603-3DCC826AE6EA) to their **latest version** on [javadoc.io](https://javadoc.io/).

I am using the `-link URL` option so Javadoc knows which external classes are documented on which javadoc.io pages:

[code]

According to [Javadoc documen

[2021-06-05 12:02] ashish-k opened #75 "Javadoc not available for awsssmchaosrunner"
Javadoc not available for any version of awsssmchaosrunner

[2021-06-06 05:03] maxcellent commented on #75
It looks like the index.html is not located at the root folder of the published jar file.  (the 3rd point of  https://www.javadoc.io/doc/software.amazon.awsssmchaosrunner/awsssmchaosrunner/latest/index.html)

Is there any special settings on the way to generate javadoc.jar file?

You can check by yourself:

https://repo1.maven.org/maven2/software/amazon/awsssmchaosrunner/awsssmchaosrunner/1.3.0/aw

[2021-06-24 05:41] jordanst3wart opened #76 "Mockito Inline docs appear to be missing"
This might be a bug with Mockito inline library

https://javadoc.io/doc/org.mockito/mockito-inline/3.11.2/index.html

[2021-06-24 14:16] maxcellent commented on #76
There is no index.html file in the disted jar file. So this is an expected behavior. Better to raise to mockito.

https://repo1.maven.org/maven2/org/mockito/mockito-inline/3.11.2/mockito-inline-3.11.2-javadoc.jar

[2021-06-24 14:16] #76 closed, assigned to nobody

[2021-07-01 04:51] maxcellent commented on #75
close the issue for now. feel free to re-open if you have new findings

[2021-07-01 04:51] #75 closed, assigned to nobody

[2021-07-20 14:23] vishnuk15 opened #77 "Javadoc for camel-core 3.0.x to 3.11.0 not accessible"
**_`No JavaDoc is released for artifact org.apache.camel:camel-core:3.11.0. Please try other versions.`_**

https://www.javadoc.io/doc/org.apache.camel/camel-core/3.11.0/index.html
![CamelCoreJavaDoc](https://user-images.githubusercontent.com/42718589/126340789-7ba33c06-3837-4cdf-8e90-d120d6e7c065.jpg)

PS: Not sure if this is the right forum to address this issue. Apologies upfront.

[2021-07-21 02:44] Masterzach32 commented on #74
I'm experiencing the same issue using Dokka for generating docs in my code. The plugin cannot generate links since the package-list file, as well as the javadocs themselves are not listed directly.

[2021-07-23 20:31] martinda opened #78 "argparse4j javadoc access denied issue"
This link: https://javadoc.io/doc/net.sourceforge.argparse4j/argparse4j/latest/undefined/net/sourceforge/argparse4j/inf/Subparser.html

Gives:
[code]

[2021-07-24 03:18] maxcellent commented on #78
hi, I am able to access this page: https://javadoc.io/doc/net.sourceforge.argparse4j/argparse4j/latest/index.html

It looks like some style issue with the javadoc itself?

[2021-07-24 03:22] maxcellent commented on #77
There is no javadoc jar published for the version. So javadoc.io is behaving as expected.

eg, for 2.9.8. There is a camel-core-2.9.8-javadoc.jar  published under:
https://repo1.maven.org/maven2/org/apache/camel/camel-core/2.9.8/

but nothing for 3.11.0
https://repo1.maven.org/maven2/org/apache/camel/camel-core/3.11.0/

[2021-07-24 03:22] #77 closed, assigned to nobody

[2021-07-24 04:12] maxcellent commented on #74
added auto redirection:

eg,
https://javadoc.io/doc/org.junit.jupiter/junit-jupiter-engine/latest/package-list

will be redirected to
https://javadoc.io/doc/org.junit.jupiter/junit-jupiter-engine/5.8.0-M1/package-list

[2021-07-24 04:12] #74 closed, assigned to maxcellent

[2021-08-14 10:10] #78 closed, assigned to nobody

[2021-09-09 22:38] cmacfarl opened #79 "Artifact published on maven missing from javadoc.io."
This is in relation to

  https://github.com/maxcellent/javadoc.io/issues/55#issuecomment-788263241

![image](https://user-images.githubusercontent.com/1435639/132771543-f8a4898e-4910-40bd-ba6e-037778ec8575.png)

Is there any way we can get the RobotCore artifact pointing at the maven location?

[2021-09-09 22:42] cmacfarl commented on #79
For reference, the missing maven artifact.

https://search.maven.org/search?q=a:RobotCore

Thank you.

[2021-09-10 09:02] #79 closed, assigned to maxcellent

[2021-10-11 10:02] antonydenyer opened #80 "Indexing other repositories"
With the deprecation of bintray, jcenter etc will you be indexing any other repositories?

Specifically, I'm interested in adding https://hyperledger.jfrog.io/ui/native/besu-maven/maven2

https://github.com/hyperledger/besu/issues/2102

[2021-10-11 13:05] maxcellent commented on #80
For my benefit, how does jfrog.io work? Is this https://hyperledger.jfrog.io/ only hosting one project?

[2021-10-11 13:18] antonydenyer commented on #80
You need to pay on a per-project basis. Any project that's part of hyperledger can use that repository. But currently, as it stands only hyperledger besu is using it.

[2021-11-10 16:17] ZurdenRo opened #81 "TestNG JavaDoc 6.14.3 Doesnt exist"
I want to see 6.14.3 version in JavaDoc, but i cant see.

![image](https://user-images.githubusercontent.com/28902288/141150614-b853a348-24ba-40d0-b72c-9dbfae420f9b.png)

I use this version, in my maven.

`<testng.version>6.14.3</testng.version>`

[2021-11-11 05:09] maxcellent commented on #81
version 6.14.3 has published an empty javadoc.jar
https://repo1.maven.org/maven2/org/testng/testng/6.14.3/testng-6.14.3-javadoc.jar

so javadoc.io cannot show anything

It looks like TestNG has fixed this issue in their latest release:
https://repo1.maven.org/maven2/org/testng/testng/7.4.0/testng-7.4.0-javadoc.jar

[2021-11-11 05:09] #81 closed, assigned to nobody

[2021-11-11 05:48] mahebaby opened #82 "Javadoc for 4.x"
https://javadoc.io/doc/com.squareup.okhttp3/okhttp/4.0.0/index.html
Unable to find Javadocs for 4.x and above versions. Latest available is 3.14.9.
Kindly share the updated doc link.

[2021-11-11 14:40] maxcellent commented on #82
This is because the published jar is empty. So it's a question for library owner why they stop publishing javadoc.

https://repo1.maven.org/maven2/com/squareup/okhttp3/okhttp/4.0.0/okhttp-4.0.0-javadoc.jar

[2021-11-11 14:40] #82 closed, assigned to nobody

[2021-12-10 08:30] p-bakker opened #83 "Links from within the docs open incorrectly on https://www.javadoc.io/doc/..."
A link to a class (in the packageFrame iframe) has as target the value 'classFrame'

However, there are 2 iframes with that name: the main iframe in which the static Javadoc html is loaded and one within the static javadoc html.

When for example a link to a class is clicked, instead of updating the displayed class in the nested iframe with the name 'classFrame', instead it is opened in the main i

[2021-12-10 08:32] p-bakker commented on #83
would love to create a small PR for this, but there's no sourcecode here...

[2021-12-11 02:36] maxcellent commented on #83
hi, would you please explain what the problem is? How do you mean by `change the name of the main iframe`?

The only difference between  https://www.javadoc.io/doc/... vs https://www.javadoc.io/static/... is the /doc/ one has a top navigation.

[2021-12-11 07:08] p-bakker commented on #83
The page on /docs (with the added navigation) runs the/static page in an iframe.

That iframe has a name attribute with the value 'classFrame'

However, the /static page also uses frames and one of those also has the name 'classFrame'

As a result, when you view the docs via /doc, there are 2 frames in the markup of the page with the same name. And sure to that, when you click a anchor/link that h

[2021-12-13 14:12] p-bakker commented on #83
See these screenshots for probably a clearer explanations:
![image](https://user-images.githubusercontent.com/4981149/145827507-d9d4d527-0f2d-4f0f-a685-27775ad19654.png)
![image](https://user-images.githubusercontent.com/4981149/145827665-7b2a661c-36a7-4d6b-9db5-647214f216a2.png)

If you change the name of the iframe to something like `staticDocs`, the problem is solved

[2021-12-19 13:46] maxcellent commented on #83
This element name is actually added deliberately because of another issue: https://github.com/maxcellent/javadoc.io/issues/27

Will think about alternatives

[2021-12-22 13:11] MarioGabrielNuez opened #84 "No JavaDoc for MySQL connector 8.0.27 Version"
the web show me this error:
No JavaDoc is released for artifact mysql:mysql-connector-java:8.0.27.

[2021-12-24 08:20] maxcellent commented on #84
there is no javadoc published for this mysql version: https://repo1.maven.org/maven2/mysql/mysql-connector-java/8.0.27/

[2021-12-24 08:20] #84 closed, assigned to nobody

[2022-01-17 11:00] armanbilge opened #85 "sbt plugins missing from javadoc.io?"
I was looking for javadocs for a published sbt-plugin and I couldn't find them. It seems that at least for `org.typelevel` none of the modules prefixed `sbt-` have javadocs available?

E.g. https://repo1.maven.org/maven2/org/typelevel/sbt-typelevel_2.12_1.0/
Or anything `sbt-` in https://repo1.maven.org/maven2/org/typelevel/

are not listed in: https://www.javadoc.io/doc/org.typelevel

Thanks!

[2022-01-19 01:36] armanbilge commented on #85
Closing because I assume this is due to:
- https://github.com/sbt/sbt/issues/3410

[2022-01-19 01:36] #85 closed, assigned to nobody

[2022-01-29 19:06] p-bakker commented on #83
Any luck coming up with an alternative approach?

[2022-03-09 15:21] davidjgonzalez opened #86 "How to request inclusion in Javadoc.io"
I have a Maven artifact [1] (on Central Maven) whose JavaDocs i'd like to have surfaced on Javadoc.io - how do i go about requesting this?

Thanks

[1] https://search.maven.org/artifact/com.adobe.aem.commons/assetshare.core/2.2.0/jar

[2022-03-21 19:59] Marcono1234 opened #87 "Remove default border around iframe"
It appears that the `<iframe>` containing the actual documentation has a default border (at least for Firefox 98.0.1 (64-Bit)). This is a bit annoying because when you move your mouse all the way to the right of your screen and then try to drag the scroll bar, it does not work because you actually have the mouse above the tiny border around the `<iframe>` instead of the scroll bar.

Would it be po

[2022-03-24 14:48] Noelknae445 opened #88 "Payment"
Automatically generated

[2022-03-25 02:43] maxcellent commented on #88
spam

[2022-03-25 02:43] #88 closed

[2022-04-02 20:41] Noelknae445 opened #89 "Top 100 DJ's | DJMag.com"
https://www0.djmag.com/top100djs

[2022-04-03 03:10] #89 closed

[2022-04-20 13:08] Noelknae445 opened #90 "Uitnodiging voor vergadering: Noel Erik Knaepen nodigt je uit voor een vergadering"
Als je wilt deelnemen aan de vergadering in Google Meet, klik je op deze link:
https://meet.google.com/dpz-jhwd-woz

Of open Meet en geef deze code op: dpz-jhwd-woz

[2022-05-01 04:31] Noelknae445 opened #91 "Smart Tutor for SAMSUNG Galaxy"
https://apps.samsung.com/appquery/appDetail.as?appId=com.rsupport.rs.activity.rsupport.aas2

[2022-05-01 04:31] Noelknae445 commented on #91
Important

[2022-05-01 07:22] #91 closed

[2022-05-02 15:00] Noelknae445 opened #92 "Truienaar Jordy Mathei trapt Houtvenne voorbij SK Tongeren (Tongeren) | Het Belang van Limburg Mobile"
https://m.hbvl.be/cnt/dmf20220501_95746191

[2022-05-03 07:25] Noelknae445 opened #93 "Typen in je eigen taal met Gboard"
Ik gebruik Gboard om in het West-Vlaams (Colemak), Adamawa Fulfulde (QWERTY), Adamawa Fulfulde (QWERTZ), Nederlands (België) (AZERTY), Duits (België) (QWERTY), Duits (België) (QWERTZ), Frans (België) (AZERTY), Frans (België) (Handschrift), Frans (België) (Colemak), Nederlands (België) (Handschrift), Duits (België) (Duits), Frans (Frankrijk) (QWERTY), Nederlands (België) (Colemak), West-Vlaams (Dvo

[2022-05-04 08:46] #93 closed

[2022-05-04 08:46] #92 closed

[2022-05-04 08:47] #90 closed

[2022-05-10 22:33] Noelknae445 opened #94 "Wikifin Lab | Wikifin"
https://www.wikifin.be/nl/wikifin-lab

[2022-06-05 05:32] #94 closed

[2022-06-07 10:17] mialbu opened #95 "Search bar incorrectly adds `/undefined` path to URL"
The search seems to have a problem when trying to search for docs of the `neow3j` library. It incorrectly adds an `/undefined` path to the URL. When removing it, the docs are accessible just fine. Might be related to #27.

![image](https://user-images.githubusercontent.com/53603111/172355459-4c753901-e65d-4fb8-8d1b-30d25d027111.png)

![image](https://user-images.githubusercontent.com/53603111/1723

[2022-06-14 13:57] maxcellent commented on #95
This looks like an issue of JDK itself. You can reproduce by downloading .jar file from maven central directly: https://repo1.maven.org/maven2/io/neow3j/contract/3.17.1/

https://stackoverflow.com/questions/52326318/maven-javadoc-search-redirects-to-undefined-url

[2022-06-14 13:57] #95 closed, assigned to maxcellent

[2022-06-16 22:29] momlesstomato opened #96 "Javadoc 522 Timed out"
Hello. I have noticed that javadoc.io is throwing 522 error. I would like to know if it is normal of the server or it is a bug of mine.

`Error fetching URL: https://javadoc.io/doc/org.yaml/snakeyaml/1.30/ (java.io.IOException: Server returned HTTP response code: 522 for URL: https://javadoc.io/doc/org.yaml/snakeyaml/1.30/package-list)`

[2022-06-18 08:00] maxcellent commented on #83
this should be resolved now.

[2022-06-18 08:00] #83 closed, assigned to maxcellent

[2022-06-18 08:01] maxcellent commented on #96
There was an out of memory error issue. Now fixed.

[2022-06-18 08:01] #96 closed, assigned to nobody

[2022-06-18 08:04] maxcellent commented on #87
![image](https://user-images.githubusercontent.com/2378229/174428792-2f7a3e82-caed-4fd9-b296-a28dee7046b8.png)

hi, I am not sure if I am able to reproduce the issue. Would you be able to provide more details? Like do you see the same as what I see from screenshot?

[2022-06-18 20:13] Marcono1234 commented on #87
The border is (I assume) only 1 pixel wide so this is not a visual problem, but a behavioral problem.

I am using Windows 10, and am experiencing this issue with both Firefox and Edge. Hopefully these reproduction steps make it a bit clearer:
1. Make the browser window fill the complete screen; you can also use fullscreen mode (in Edge <kbd>F11</kbd>)
2. Open https://www.javadoc.io/doc/com.fasterx

[2022-06-19 01:55] maxcellent commented on #87
Ah I see what you mean. I am on dual monitors and my browser is usually on the left so never had this issue. Added this style as suggested.

[2022-06-19 01:55] #87 closed, assigned to nobody

[2022-06-21 02:43] maxcellent commented on #86
hi, you have probably figured already. There is no need to request. The first time you visit this page the website will index the javadoc.

https://javadoc.io/doc/com.adobe.aem.commons/assetshare.core/2.2.0

[2022-06-21 02:43] #86 closed, assigned to nobody

[2022-06-22 10:57] joel-costigliola opened #97 "Javadoc search navigation is broken"
Thanks for your excellent javadoc.io, I have noticed a bug/regression related to navigating after a search (on top right text field).

https://www.javadoc.io/doc/org.assertj/assertj-core/latest/index.html search works except for navigating to the selected element.

I have generated the javadoc locally and the navigation works so I assume something is blocking the navigation in javadoc.io

[2022-06-23 09:18] maxcellent commented on #97
This issue is initially reported by you and fixed: https://github.com/maxcellent/javadoc.io/issues/27

However, because of the recent issue: https://github.com/maxcellent/javadoc.io/issues/83

We have to reverse changes on #27 . Instead, we need to run a migration task to fix all `search.js` generated from OpenJDK. The job is already running but considering the total number of files is massive. Th

[2022-06-23 09:19] maxcellent commented on #97
It looks like this link you mentioned is already fixed.

[2022-06-23 09:38] joel-costigliola commented on #97
thanks for the info, the javadoc is not yet working (I just tried) but I'll check in a couple days.

[2022-06-23 09:40] maxcellent commented on #97
Does this work to you? https://www.javadoc.io/doc/org.assertj/assertj-core/3.23.0/org/assertj/core/api/exception/PathsException.html

[2022-06-23 09:41] joel-costigliola commented on #97
yes it does

[2022-06-23 09:42] maxcellent commented on #97
how about shift + F5 on this page? https://www.javadoc.io/doc/org.assertj/assertj-core/latest/index.html

[2022-06-23 09:42] joel-costigliola commented on #97
nope. I was trying on ffox

just tried on chrome, it does not work either

[2022-06-23 09:47] scordio commented on #97
It seems to be a local issue, for me it works fine in incognito mode with both Firefox and Chrome, but wasn't working on Firefox without incognito mode.

Clearing cookies for javadoc.io fixed it for me.

[2022-06-23 09:51] joel-costigliola commented on #97
it works for me now after clearing the cookies, I'm closing the issue, thanks all!

[2022-06-24 14:05] scordio commented on #97
Hi @maxcellent, more users are reporting the same issue in assertj/assertj-core#2684 and it seems that clearing cookies are not really the solution.

Just inspecting the page source, I noticed the locally generated Javadoc uses:

[code]

but on javadoc.io I see:

[code]

and https://github.com/assertj/assertj-core/issues/2684#issuecomment-1165589305 mentions an issue with the search, related to ou

[2022-06-24 15:39] maxcellent commented on #97
hi @scordio, this is not related. One is used for parent iframe and one is used for the child.

So I think this is because the migration is still in progress, currently about 20% is completed and will need another week or two.

During this period, some versions might be working and some might. Would that be possible to ask your users to use the javadoc for latest version for now?

[2022-06-24 15:58] scordio commented on #97
As far as I understood, we and our users are having issues with the latest version only.

[2022-06-24 16:18] maxcellent commented on #97
so this is likely a caching issue from CDN. I have purged everything. Now if you do Ctrl + refresh it should work now.

I have test both Chrome and Firefox against latest version.

[2022-06-25 17:19] javadev opened #98 "Internal server error. I will take a look and hopefully fix the issue asap"

[2022-06-26 04:55] maxcellent commented on #98
the server is out of disk space. I have setup a job so that it won't happen again.

[2022-06-26 04:55] #98 closed, assigned to nobody

[2022-07-04 10:10] joel-costigliola commented on #97
Users report it works now so I'm closing the issue.

[2022-07-04 14:41] Marcono1234 commented on #97
@maxcellent, could you please comment here again once the migration finished for all projects (or reopen the issue and close it again once the migration is done)?
It appears it is not working for all projects yet, for example it does not seem to be working for
https://javadoc.io/doc/com.google.code.gson/gson/latest/com.google.gson/module-summary.html

[2022-07-04 21:49] marcwrobel opened #99 "Broken links generated by the search feature for the `latest` version"
It seems the links generated by the search feature are broken for the `latest` version.

Step to reproduce :
1. Go to https://javadoc.io/doc/fr.marcwrobel/jbanking/
2. Search for `Iban`
3. Click on the _type_ `fr.marcwrobel.jbanking.iban.Iban`
4. You are redirected to https://javadoc.io/doc/fr.marcwrobel/jbanking/latest/undefined/fr/marcwrobel/jbanking/iban/Iban.html.
5. You can see the following

[2022-07-05 03:18] maxcellent commented on #99
This is a known JDK issue: https://stackoverflow.com/questions/52326318/maven-javadoc-search-redirects-to-undefined-url

You can reproduce by generating javadoc on your local machine directly.

[2022-07-05 03:18] #99 closed, assigned to nobody

[2022-07-05 07:37] marcwrobel commented on #99
Thanks @maxcellent, and sorry for the bother: I should have searched in the closed issues before opening this one.

[2022-07-05 09:38] maxcellent commented on #97
@Marcono1234 sure will do.

I have manually fixed this page for now: https://javadoc.io/doc/com.google.code.gson/gson/latest/com.google.gson/com/google/gson/ExclusionStrategy.html

[2022-07-21 12:50] maxcellent commented on #97
It's completed. Please re-open if you see this issue again even after refresh

[2022-07-21 12:50] #97 closed, assigned to maxcellent

[2022-07-27 10:00] raphw opened #100 "package-list query leads to denied access for newer packages"
Thanks for hosting javadoc.io.

It seems like newer versions of packages do no longer offer access to the package-list folder. Comparing the two versions:

[code]

The call works for version 27 but not for the latest release 31. As a consequence, those dependencies cannot be linked from the javadoc tool via the *link* option.

This seems to have been fixed in #74 but does no longer work.

[2022-07-30 22:21] Marcono1234 commented on #100
This might be a Guava specific issue, see https://github.com/google/guava/issues/5653, or in general affect all projects which create their Javadoc with a newer `javadoc` version, which uses `element-list` instead of `package-list`.
If you inspect the Guava `-javadoc.jar` files from Maven Central, you will see that the latest Guava JARs only include an `element-list` file.

[2022-08-01 00:56] jamesdaily opened #102 "Feature request: Link to latest within major version"
Currently, javadocs.io supports linking to the latest version or a specific exact version.

I'd like to be able to link to a specific major version, eg 3.x or 2.x and have it forward to the latest revision of that major version.

For example, https://javadoc.io/doc/org.apache.pdfbox/pdfbox/ redirects to https://javadoc.io/doc/org.apache.pdfbox/pdfbox/3.0.0-alpha3/index.html

Perhaps https://javado

[2022-08-01 11:10] raphw commented on #100
Of course. I was confused by the response code I got. I solved this differently.

[2022-08-01 11:10] #100 closed, assigned to nobody

[2022-08-01 12:51] maxcellent commented on #102
That's an interesting idea.

How about prefix matching?

Like if you do  https://javadoc.io/doc/org.apache.pdfbox/pdfbox/2 then it will be redirected to  https://javadoc.io/doc/org.apache.pdfbox/pdfbox/2.0.26/index.html

But if you do https://javadoc.io/doc/org.apache.pdfbox/pdfbox/1.7/index.html then it will be redirected to https://javadoc.io/doc/org.apache.pdfbox/pdfbox/1.7.1/index.html (not 1.

[2022-08-18 21:25] Marcono1234 commented on #95
@maxcellent, even though this is a JDK bug, do you think it would be feasible if javadoc.io could detect when such an incorrect URL is created and redirect to the proper page (or maybe in general just redirect `.../<version>/undefined` to `.../<version>` if the current URL leads to 404)? The issue is that even if projects fixed this by upgrading to a newer JDK version, the previously published Jav

[2022-08-31 10:59] gk-brown opened #103 "Delete docs for obsolete versions?"
My project currently has 1.0.x, 1.1.x, and 1.2.x releases:

https://javadoc.io/doc/org.httprpc/kilo-client/latest/index.html

I really only need the Javadoc for the latest maintenance release within each minor release. Is there a way to delete docs for the other versions? If not, would you consider adding a feature like this?

[2022-08-31 11:40] maxcellent commented on #103
I wonder what would be your use case to deliberately remove previous versions?

Would you remove previous versions from maven repo as well? If not, then it still doesn't stop people using old version right?

[2022-08-31 12:14] gk-brown commented on #103
For semantic versioning, APIs shouldn't change in maintenance (or "patch") releases. So technically the Javadoc should not change either. This suggests that keeping Javadoc for every patch version is not strictly necessary.

[2022-09-08 05:30] Seyatseyhan opened #104 "xssx-trader"
Bol şanslar

[2022-09-08 14:40] #104 closed, assigned to nobody

[2022-09-15 08:02] lukaseder opened #105 "Add <link rel="canonical" /> tags to your documents"
Your website is publishing unauthorised copies of jOOQ Javadoc (among many others). This hurts jOOQ's SEO. Please do any of the below:

- Remove jOOQ artifacts from your website (everything in the `org.jooq` Maven groupId)
- Add a "canonical" link to all of the Javadoc, linking to the "real" version of the Javadoc page. See: https://developers.google.com/search/docs/advanced/crawling/consolidate-d

[2022-10-11 11:30] lukaseder commented on #105
Hi @maxcellent. I understand you're busy. You've had the same idea in the past: https://github.com/maxcellent/javadoc.io/issues/50, and probably just never got around to implementing it.

Nevertheless, to me, this is an important request. Please remove jOOQ from your website by the end of October 2022. Otherwise, I will see no other option than to file a DMCA complaint with google. But I think thi

[2022-10-11 11:31] lukaseder commented on #50
Related request: https://github.com/maxcellent/javadoc.io/issues/105.

[2022-10-11 11:40] lukaseder commented on #105
For the record, while this suggestion here is for a thorough solution, what I'm really asking you to do here is to remove everything from the `org.jooq` Maven groupId from your website, which I imagine you could implement using a quick fix, e.g. by maintaining a simple `.htaccess` file, if you're using Apache.

[2022-10-12 12:36] maxcellent commented on #105
Redirection is fine. We just need a way to verify ownership. Otherwise anyone can request to redirect traffic. Also the mechanism needs to be fully automated.

How about adding a new tag in `pom.xml`?

[code]

[2022-10-12 13:48] lukaseder commented on #105
Thanks for your reply, @maxcellent.

Would you really want to ask e.g. Oracle to put a `<javadoc.io.redirect>` tag in their ojdbc `pom.xml`?

Everyone out there can create a website like yours, which copies content off creators, and then ask those creators to follow some set of rules. That doesn't scale. Sooner rather than later, every creator has 50 of those redirect tags and what not in their `p

[2022-11-01 12:37] lukaseder commented on #105
Following up on my previous claim:

While I appreciate there might be a thorough solution that suits everyone, I'm also aware that this is harder to design. What I'm asking you to do more urgently is to remove all of jOOQ content from your website. I'm sure there's a simple solution to my request.

Is this something you can do within the next few days using *any* means?

[2022-11-28 20:47] Marcono1234 opened #107 "Redirect URLs with erroneous `/undefined` in path"
Some JDK versions have a bug where the search field erroneously adds `/undefined` to the URL leading to non-existent pages.

As mentioned in https://github.com/maxcellent/javadoc.io/issues/95#issuecomment-1219980176, even though this is a JDK bug, do you think it would be possible to implement a workaround for this for javadoc.io?

The main problem is that artifacts whose Javadoc was created with

[2022-11-29 14:28] maxcellent commented on #107
this is fixed as part of https://github.com/maxcellent/javadoc.io/issues/27

feel free to re-open if you still see the issue

[2022-11-29 20:32] Marcono1234 commented on #107
@maxcellent I think #27 is a different issue (which also happens to cause `/undefined` in the path). I was talking about [JDK-8215291](https://bugs.openjdk.org/browse/JDK-8215291). Examples for this are:
- https://www.javadoc.io/doc/com.konghq/unirest-java/latest/index.html
- https://javadoc.io/doc/com.google.guava/guava/30.0-jre/index.html

Try to search something using the search bar on the top